---
<!-- layout: archive -->
title: "Activities"
permalink: /activities/
<!-- author_profile: true -->
---

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.activities reversed %}
  {% include archive-single.html %}
{% endfor %}

<p>ArchiPrEd has been an active SIG in ALISE since 2008, supporting educators with teaching resources and a community. Its leaders include: Lynne Chase (2006-07, as Archival/Records Management Education), Cecilia Salvatore (2008, as Archives), Mary Choquette, Michèle Cloonan, and Ken Lavender (2008-09, founders of ArchiPrEd), Mary Choquette (2010-2015, Convener), Rhonda Clark (2016-2017, Convener), Andrew Wertheimer (2017-18, Co-Convener), & Sarah Buchanan (2018--, Convener).</p>

SIG sessions at <a href="https://www.alise.org/alise-2023">ALISE 2023</a>:<br/>
  - Session 6: "Translating Practice to Positively Transform our Information Workforce." Convener and Presenter: Sarah Buchanan (University of Missouri); Presenters: Suliman Hawamdeh and Manar Alsaid (University of North Texas), Jeff Hirschy and Jessica Herr (University of Southern Mississippi), Bharat Mehra, Robert Riter, and Ron Harris (University of Alabama), & Gretchen Stahlman (Florida State University) and Inna Kouper (Indiana University). (<a href="https://sched.co/1OOzo">Program</a>, <a href="http://doi.org/10.21900/j.alise.2023.1315">Proceedings</a>)</p>

<a href="https://www.alise.org/2022-annual-conference">ALISE 2022</a>:<br/>
  - Session 1.5: "Yarning Multivocal Archival Educations." Convener and Presenter: Sarah Buchanan (University of Missouri); Presenters: Peter Botticelli, Michèle Cloonan, Donia Conn (Simmons University) and Anastasia Matijkiw (Documentary Heritage and Preservation Services for New York: DHPSNY), Colin Post (University of North Carolina-Greensboro), & Heather Soyka (Kent State University). (<a href="http://doi.org/10.21900/j.alise.2022.1040">Proceedings</a>, <a href="https://hdl.handle.net/2142/117985">Proceedings offprint</a>)</p>

<a href="https://www.alise.org/alise-2021-conference">ALISE 2021</a>:<br/>
  - Session 4.3: "Inventing and Implementing Future-Ready Archival Education." Convener and Presenter: Sarah Buchanan (University of Missouri); Presenters: Edward Benoit, III and Amanda Lima (Louisiana State University), Anthony Cocciolo and Erin Barsan (Pratt Institute), Aisha Johnson (North Carolina Central University), Krystyna Matusiak (University of Denver), Alex Poole and Jane Zhang (Drexel University and Catholic University of America), & Colin Post (University of North Carolina-Greensboro). (<a href="http://hdl.handle.net/2142/110919">Proceedings, p.269-270</a>)</p>

<a href="https://www.alise.org/2020-annual-conference">ALISE 2020</a>:<br/>
  - Session C.10: "Transforming the Archival Classroom for a Connected Reality." Convener and Presenter: Sarah Buchanan (University of Missouri); Presenters: Najim A. Babalola (University of Ibadan, Nigeria), Shobhana L. Chelliah & Oksana L. Zavalina (University of North Texas, USA), & Adam Kriesberg, Sarah Pratt, & Katherine M. Wisser (Simmons University, USA). (<a href="http://hdl.handle.net/2142/108793">Proceedings, p.396</a>)</p>

<a href="https://www.alise.org/2019-conference">ALISE 2019</a>:<br/>
  - Session 2.1: "Archival Learning in a Global Context." Convener and Presenter: Sarah Buchanan (University of Missouri); Presenters: Reem Alkhaledi & Suliman Hawamdeh (University of North Texas), Johnathan Thayer (Queens College), & Ayoung Yoon & Andrea Copeland (IUPUI). (<a href="http://hdl.handle.net/2142/105353">Proceedings, p.247</a>)</p>

<a href="https://www.alise.org/assets/documents/conf_2018/ALISE%202018%20Program%20Book-FINAL_Combined.pdf">ALISE 2018</a>:<br/>
  - Session 5.5: "Trends in Archival Education." Convener and Presenter: Rhonda Clark (Clarion University); Presenters: Sarah Buchanan (University of Missouri), Jennifer Douglas (The University of British Columbia), Patricia Franks (San José State University). (<a href="https://sched.co/D7cF">Program</a>, <a href="http://hdl.handle.net/2142/99018">Proceedings, p.244</a>)</p>

<a href="https://www.alise.org/assets/documents/conf_2017/2017_ALISE_Conference_Program_Final.pdf">ALISE 2017</a>:<br/>
  - Session 4.1: "Connecting to Community: Curriculum and Projects for Family History Collaborative Sciences." Convener and Presenter: Rhonda Clark (Clarion University); Presenters: Jenny Bossaller (University of Missouri), Nicole Wedemeyer Miller, Heather Moulaison Sandy (University of Missouri), Kristen Schuster (King's College London), & Drew Smith (University of South Florida). (<a href="https://sched.co/8zIo">Program</a>)</p>

<a href="https://www.alise.org/assets/documents/conf_2014/2014%20alise%20officail%20program.pdf">ALISE 2014</a>:<br/>
  - Session 3.4: "Charting the Archival Enterprise in Doctoral Education through AERI." Conveners: Mary Edsall Choquette (University of Maryland) & Kenneth Lavender (Syracuse University); Presenters: Sarah Buchanan & Katie Pierce Meyer (The University of Texas at Austin) & Jonathan Dorey (McGill University).</p>

<a href="https://www.alise.org/assets/documents/conf_2013/alise_op_2013-final.pdf">ALISE 2013</a>:<br/>
  - Session 2.5: "The AERI Experience: Support, Structure, and Sociality of Inquiry within the Archival Research and Education Field." Convener and Presenter: Mary Edsall Choquette (University of Maryland); Presenters: Sarah Ramdeen (University of North Carolina at Chapel Hill), Kenneth Lavender (Syracuse University), Lorraine Richards & Heather Willever-Farr (Drexel University).</p>

<a href="https://www.alise.org/assets/documents/conf_2012/alise_op_2012.pdf">ALISE 2012</a>:<br/>
  - Session 7.1: "Cultural Heritage Preservation: Identifying Concepts, Communities, and Constructs." Convener/Moderator: Mary Edsall Choquette (University of Maryland); Presenters: Kevin Cherry (IMLS), Michèle Cloonan & Ross Harvey (Simmons College), Kenneth Lavender (Syracuse University), & Noah Lenstra (University of Illinois Urbana–Champaign).</p>

<a href="https://www.alise.org/assets/documents/alise_op_2011.pdf">ALISE 2011</a>:<br/>
  - Session 3.2: "Cultural Heritage Preservation Education: Innovating the Past; Competing for Identity." Convener/Moderator: Mary Edsall Choquette (University of Maryland); Panelists: Ken Lavender (Syracuse University), Michèle Cloonan (Simmons College), Paul Marty (Florida State University), Tula Gianinni (Pratt Institute), Seamus Ross (University of Toronto), Stephen Bajjaly (Wayne State University), & Heather Bowden (University of North Carolina at Chapel Hill).</p>

<a href="https://www.alise.org/assets/documents/AliseProgram2009.pdf">ALISE 2009</a>:<br/>
  - Session 1.4: "Indigenous Memory, Identity, and Sustainability: Decolonizing Archival Education and Methods." Convener: Cecilia L. Salvatore (Emporia State University); Panelists: Kimberly Anderson (UCLA), Omaira Brunal-Perry (University of Guam), Andrew Lau (UCLA), Jonathan Pringle (Museum of Northern Arizona), & Cecilia Salvatore (Emporia State University).</p>

<a href="https://www.alise.org/assets/documents/alise2008program.pdf">ALISE 2008</a>:<br/>
  - Session 6.3: "Community Collaboration and Research: Engaging Communities to Enhance Learning, Research, and Practice in Archival Education." Convener: Kelvin White (UCLA); Panelists: Anne J. Gilliland, Ulia Gosart, & Kelvin White (UCLA), & Ricardo Punzalan (University of the Philippines).</p>

<a href="https://www.alise.org/assets/documents/alise_2005_final_program.pdf">ALISE 2005</a>:<br/>
  - Session 2.1: "A Universal Records Professional for the 21st Century: International Perspective on Archival Education." Organizers and Panelists: Jennifer Marshall (University of South Carolina) & Tywanna Whorley (Simmons College).</p>
  
<a href="https://www.alise.org/assets/documents/final_program.pdf">ALISE 2004</a>:<br/>
  - Session 3.3: "Partners in Crime: Interschool Collaboration." Chair: Timothy W. Sineath (University of Kentucky); Panelists: Robert V. Williams (University of South Carolina) & Timothy W. Sineath (University of Kentucky).</p>

<a href="https://www.alise.org/assets/documents/conf03_schedule.pdf">ALISE 2003</a>:<br/>
  - "The Role of Research in Promoting Greater Accountability in the Management of Archives." Conveners: Jennifer Marshall & Tywanna
Whorley (Pittsburgh); Speakers: Richard J. Cox (Pittsburgh), Meredith Evans (UNC Chapel Hill), & Lekoko Kenosi (Pittsburgh).</p>

<a href="https://www.alise.org/assets/documents/2002program.pdf">ALISE 2002</a>:<br/>
  - "Who are the ‘New’ Archival Educators and What Will They Teach?" Convener: Jeannette Bastian; Panelists: Jeannette Bastian, Elizabeth Dow, Tywanna Whorley, Jennifer Marshall, & Donghee Sinn.</p>
