---
layout: archive
title: "Bibliography"
permalink: /bibliography/
author_profile: true
---

<!-- <p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->

<p><b>ArchiPrEd (2017–) Bibliography on Archival <i>Education</i></b>:</p>

<p><b>2021-2030</b>:</p>
...

<p><b>2011-2020</b>:</p>
The Archival Education and Research Institute (AERI), Pluralizing the Archival Curriculum Group (PACG) (2011) Educating for the Archival Multiverse. The American Archivist 74, No. 1, pp. 69-101. https://doi.org/10.17723/aarc.74.1.hv339647l2745684</p>

Alaniz, Des. "Archival Education, Present and Future: Evaluating Curriculum for Critical Archival Practice," In Proceedings of the Society of American Archivists 2016 Research Forum (Atlanta, GA: Society of American Archivists). https://www2.archivists.org/am2016/research-forum-2016/agenda</p>

Alcalá, Janet Ceja, Megan Austin, Mona Granroth, & Breanne Hewitt. (2016). Online inclusive pedagogy: A call-and-response dialogue on digital storytelling. Education for Information 32(1): 71-85. doi:10.3233/EFI-150963</p>

Alcalá, Janet Ceja, Cordelia L. Hooee, Jessica Kniest, Hanni Nabahe, and Monique Perez. "Pedagogical Strategies for Fostering Pluralism in Archival Studies," In Proceedings of the Society of American Archivists 2015 Research Forum (Cleveland, OH: Society of American Archivists). https://www2.archivists.org/proceedings/research-forum/2015/agenda#posters</p>

Lindsay Anderberg, Robin M. Katz, Shaun Hayes, Alison Stankrauff, Morgen MacIntosh Hodgetts, Josué Hurtado, Abigail Nye and Ashley Todd-Diaz (Spring/Summer 2018) Teaching the Teacher: Primary Source Instruction in American and Canadian Archives Graduate Programs. The American Archivist 81, No. 1, pp. 188-215. https://doi.org/10.17723/0360-9081-81.1.188</p>

K. Anderson, J. A. Bastian, A. Flinn, and G. Samuelsson. “Virtual Experiments in Collaborative Archival Education: Constructing a Digital Laboratory for Digital Learning,” Comma, 2012 (1) (October, 2014). https://doi.org/10.3828/comma.2012.2.10 and http://discovery.ucl.ac.uk/id/eprint/10044291</p>

K. Anderson, J. A. Bastian, and A. Flinn. “Mapping International Core Archives Curriculum,” ICA-SAE Conference Papers (October, 2014). http://www.ica-sae.org/proceedings/beijing2013/Anderson_Bastian_Flinn.pdf</p>

Anderson, Karen, Jeannette Bastian, Ross Harvey, Terry Plum, Goren Samuelson, "Teaching to Trust: How a Virtual Archives and Preservation Curriculum Laboratory Creates a Global Education Community," Archival Science, 11 (3-4) (2011): 349-372. https://doi.org/10.1007/s10502-011-9157-y</p>

Brenda Banks, Paul Conway, Nancy Lenoil, and Michael Suarez (January 2011) The View from Here: Perspectives on Educating About Archives (Session 306). The American Archivist 74, No. 1 Supplement, pp. 1-32. https://doi.org/10.17723/aarc.74.suppl-1.l7v0tm3547r54730</p>

Barker, Lecia J., Ramona Broussard, Sarah Buchanan, Daniel Carter, Jane Gruning, Ayse Gursoy, Nida Kazim, Eunyoung Moon, Melissa Ocepek, and Rachel Simons. "21st Century Information Workers: What Core Competencies Should MSIS Students Learn?". In iConference 2015 Proceedings. iSchools, 2015. https://www.ideals.illinois.edu/handle/2142/73778</p>

J. A. Bastian and R. Harvey. “Experiments in Cultural Heritage Informatics: Convergence and Divergence,” in <i>Annual Review of Cultural Heritage Informatics 2012-2013</i> (London: Facet Books, 2014): 29-42.</p>

Bastian, Jeannette A. and Ross Harvey, "Out of the Classroom and into the Laboratory: Teaching Digital Curation Virtually and Experientially," IFLA Journal 38:1 (March 2012), 25-34. http://doi.org/10.1177/0340035211435072</p>

Bastian, Jeannette A., Michèle V. Cloonan, and Ross Harvey. "From teacher to learner to user: Developing a digital stewardship pedagogy." Library Trends 59.4 (Spring 2011): 607-622. https://doi.org/10.1353/lib.2011.0012</p>

Beaton, Brian, Amelia Acker, Lauren Di Monte, Shivrang Setlur, Tonia Sutherland, and Sarah Tracy. “Debating Data Science: A Roundtable.” Radical History Review 127 (January 2017). 133-148. https://doi.org/10.1215/01636545-3690918</p>

Becker, Snowden. (2013). 2012 Archival Education and Research Institute. The Moving Image 13(1), 245-247. </p>

Edward Benoit and Donald C. Force (2019) One Size Does Not Fit All: Graduate Archival Education in the Twenty-First Century. The American Archivist 82, No. 1, pp. 24-52. https://doi.org/10.17723/0360-9081-82.1.24</p>

Buchanan, S., V. Angles, R. Benson, E. Cox, R. Griffin, L. Haygood, E. Saxon, D. Schulze, S. Wilcer, & T. Yule. “Opening Up Audiovisual Archives Education: The Public Broadcasting Preservation Fellowship,” Society of American Archivists (SAA) 12th Research Forum, Washington, D.C., 14 August 2018. https://www2.archivists.org/am2018/research-forum-2018/agenda#posters</p>

Buchanan, S.A., Dorey, J., and K. Pierce Meyer. "Traveling Through: Exploring Doctoral Demographics in Archival Studies." Archival Science, 18.2 (June 2018): 143-163. doi:10.1007/s10502-018-9288-5</p>

Buchanan, S.A., Bullard, J., Aspray, B., Bailey, D., Barker, L., Carter, D., Clement, T., Gottschlich, N., Howison, J., McLaughlin, S., Ocepek, M., Sholler, D., and C.B. Trace. "Collaborative Syllabus Design for Studying Information Work." In ASIST 2017: Proceedings of the 80th ASIS&T Annual Meeting (vol. 54): Diversity of Engagement: Connecting People and Information in the Physical and Virtual Worlds. Silver Spring, MD: Association for Information Science & Technology, 2017. pp. 630-632. http://doi.org/10.1002/pra2.2017.14505401094</p>

Buchanan, S. "Show Me Archives and the Community Engagement Legacy of Aurora Davis." In 11th Annual SAA Research Forum Proceedings, Eds. N. McGovern, H. Tibbo. Portland, OR: Society of American Archivists, 25 July 2017. https://www2.archivists.org/am2017/research-forum-2017/agenda</p>

Buchanan, Sarah, Jane Gruning, Ayse Gursoy, and Lecia Barker. 2017. "Surveying Archivists and their Work towards Advocacy and Management, or 'Enterprise Archiving'." <i>The American Archivist</i>, 80 (2): 268-295. http://doi.org/10.17723/0360-9081-80.2.268</p>

Buchanan, S.A., Stratton, C., Sun, Y., and A. Chaudhary. "Survey Research on Tasks and Competencies to Inform Records Management Education." Records Management Journal, 27.1 (2017): 2-18. doi:10.1108/RMJ-11-2015-0041</p>

Buchanan, S.A. "AERI as a Catalyst for Archival Doctoral Education." Preservation, Digital Technology & Culture, 45.1 (Apr. 2016): 32–38. doi:10.1515/pdtc-2016-0001</p>

Buchanan, S., Dorey, J., and K. Pierce Meyer. "Charting the Archival Enterprise in Doctoral Education through AERI." Association for Library and Information Science Education (ALISE) Annual Conference, Archival/Preservation Education SIG (Philadelphia, PA, 22 January 2014). http://www.alise.org/conf---2014---abstracts</p>

Nadia Caidi, J. J. Ghaddar, and Danielle Allard, "Negotiating Borders: Librarianship and Twenty-First-Century Politics," The Library Quarterly 87, no. 4 (October 2017): 391-409. https://doi.org/10.1086/693493</p>

Caswell, Michelle. "Envisioning a Critical Archival Pedagogy" in The Politics of Theory and the Practice of Critical Librarianship (Eds. Karen P. Nicholson and Maura Seale). Sacramento, CA: Litwin Books, 2018. https://litwinbooks.com/books/the-politics-of-theory-and-the-practice-of-critical-librarianship/</p>

<p style="color:#008080";>2017 Critical Archival Studies special issue 1(2) of Journal of Critical Library and Information Studies guest edited by Michelle Caswell, Ricardo Punzalan, and T-Kay Sangwand:</p>

<p style="color:#008080";>Michelle Caswell, Ricardo Punzalan, T-Kay Sangwand (2017). "Critical Archival Studies: An Introduction." https://doi.org/10.24242/jclis.v1i2.50</p>

Michelle Caswell (with graphic design by Gracen Brilmyer), "Teaching to Dismantle White Supremacy in Archives," The Library Quarterly 87, no. 3 (July 2017): 222-235. https://doi.org/10.1086/692299</p>

<p style="color:#008080";>2012 Special Section of InterActions 8(2) on Archival Education and Human Rights edited by Michelle Caswell and Andrew J Lau with assistance from Amelia Acker:</p>

<p style="color:#008080";>Caswell, Michelle, Giso Broman, Jennifer Kirmer, Laura Martin, & Nathan Sowry (2012). Implementing a Social Justice Framework in an Introduction to Archives Course: Lessons from Both Sides of the Classroom. https://escholarship.org/uc/item/2jx083hr</p>

Brenda Chawner & Gillian Oliver (2016) What if? Exploring alternative models for professional LIS education, The Australian Library Journal, 65:4, 304-316, https://doi.org/10.1080/00049670.2016.1238433</p>

Cifor, Marika & Jamie A. Lee. (2017) Towards an Archival Critique: Opening Possibilities for Addressing Neoliberalism in the Archival Field, Journal of Critical Library and Information Studies 1 (1): 22 pp. https://doi.org/10.24242/jclis.v1i1.10</p>

Cifor, Marika & Heather Soyka. "Identifying Research Contributions of Archival Studies and Recordkeeping to Societal Grand Challenges: A Report from the AERI Grand Challenges Working Group," In Proceedings of the Society of American Archivists 2014 Research Forum (Washington, D.C.: Society of American Archivists). https://www2.archivists.org/2014/research-forum-2014/agenda</p>

<p style="color:#008080";>2014 double issue on Preservation Education of PDT&C 43(1-2) introduced by Editor-in-Chief Michèle Cloonan:</p>

<p style="color:#008080";>Conway, Paul (2014). "At the Nexus of Analog and Digital: Introduction to Papers from a Symposium of Preservation Educators." doi:10.1515/pdtc-2014-1001</p>

<p style="color:#008080";>Fear, Kathleen. (2014). "Commentary on Michèle Cloonan’s Plenary Address." https://doi.org/10.1515/pdtc-2014-1002</p>

<p style="color:#008080";>Becker, Snowden. (2014). "Commentary on Caroline Frick’s Plenary Address." https://doi.org/10.1515/pdtc-2014-1007</p>

<p style="color:#008080";>Galloway, Patricia Kay (2014). "Commentary on Integrating Research and Teaching." doi:10.1515/pdtc-2014-1011</p>

<p style="color:#008080";>Gilliland, Anne J. (2014). "Fostering High Impact Research in the Preservation Field." https://doi.org/10.1515/pdtc-2014-1012</p>

Colwell, Christopher. (2015, May). Practitioner, 'pracademic' or just plain mad? IQ: The RIM Quarterly 31 (2): 15-17. https://search.informit.com.au/documentSummary;dn=163266224580079;res=IELAPA.</p>

Condon, P. "Disciplining Digital Curation? What it means to be an emerging field," In Proceedings of the Society of American Archivists 2014 Research Forum (Washington, D.C.: Society of American Archivists). https://www2.archivists.org/2014/research-forum-2014/agenda</p>

Condon, Patricia B. and Eliot Wilczek. "Report on the 2013 Archival Education and Research Institute." Preservation, Digital Technology & Culture 42, iss. 4 (November 2013): 226–228, doi:10.1515/pdtc-2013-0034.</p>

N. A. Cooke,  M. Sweeney, and S. U. Noble. (2016). “Social Justice as Topic and Tool: An Attempt to Transform a LIS Curriculum and Culture.” Library Quarterly 86(1), 107-124.</p>

Cox, R. (2017). Lester J. Cappon and the Idea of the Public Scholar. Libraries: Culture, History, and Society, 1(1), 126-151. doi:10.5325/libraries.1.1.0126</p>

R. J. Cox. “Graduate Archival Education in the United States: A Personal Reflection About Its Past and Future,” Journal of Contemporary Archival Studies 2 (2015): 1-9. https://elischolar.library.yale.edu/jcas/vol2/iss1/3/</p>

<p style="color:#008080";>R. J. Cox, Alison Langmead, and Eleanor Mattern, eds. Archival Research and Education: Selected Papers from the 2014 AERI Conference (Litwin Books, 2015). https://litwinbooks.com/books/archival-research-and-education/ :</p>

<p style="color:#008080";>Alison Langmead (2015), “The History of Archival Education in America: What’s Next?”</p>

<p style="color:#008080";>Huang Xiaoyu (2015), “The Innovation of Archival Teaching Method: Introducing Archival News into the Classroom.”</p>

<p style="color:#008080";>James M. O’Toole (2015), “Understanding Understanding: What Do Archivists Need to Know, Then and Now?”</p>

Cox, Richard J., Eleanor Mattern, Lindsay Mattock, Raquel Rodriguez and Tonia Sutherland. “Assessing iSchools.” Journal of Education for Library and Information 53, no. 4 (October 2012): 303-316.</p>

Richard Cox, Janet Alcalá, and Leanne Bowler (2012) Archival Document Packets: A Teaching Module in Advocacy Training Using the Papers of Governor Dick Thornburgh. The American Archivist 75, No. 2, pp. 371-392. https://doi.org/10.17723/aarc.75.2.04778333025635m0</p>

Jeff Crow, Luis Francisco-Revilla, April Norris, Shilpa Shukla, and Ciaran B. Trace, "A Unique Arrangement: Organizing Collections for Digital Libraries, Archives, and Repositories," in <i>International Conference on Theory and Practice of Digital Libraries (TPDL 2012). Paphos, Cyprus. September 23-27, 2012, Lecture Notes in Computer Science (LNCS) 3232</i>, Springer-Verlag, Berlin, Germany, pp. 335-344. doi:10.1007/978-3-642-33290-6_36</p>

Cushing, A. L. & Shankar, K. (2019). Digital curation on a small island: A study of the professional education and training needs in Ireland. Archives and Records 40 (2): 146-163. https://doi.org/10.1080/23257962.2018.1425135</p>

Cushing, A. L. (2018) Using Citizen Science Projects to Develop Cases for Teaching Digital Curation. In Chowdhury G., McLeod J., Gillet V., Willett P. (eds) <i>iConference 2018: Transforming Digital Worlds. Lecture Notes in Computer Science (LNCS), vol 10766</i> (pp. 615-619). Springer, Cham. (Best Preliminary Results Paper award). https://doi.org/10.1007/978-3-319-78105-1_69</p>

Cushing, A.L. & Dumbleton, O. (2017) 'We have to make an effort with it': Exploring the use of stages to help understand the personal information management needs of humanities and social science doctoral students managing dissertation information. IFLA Journal 43(1), 40-50. https://doi.org/10.1177%2F0340035216686983</p>

Daniels, Morgan & Elizabeth Yakel. (2013). Uncovering Impact: The Influence of Archives on Student Learning. The Journal of Academic Librarianship 39(5), 414-422. https://doi.org/10.1016/j.acalib.2013.03.017</p>

Casey Davis Kaufman, James Elmborg, Rebecca Fraimow, Teague Schneiter & Moriah Ulinskas (2020). Toward a More Equitable Field: Broadening the Landscape with Fellowships in Audiovisual Preservation, Journal of Archival Organization 17(1-2): 19-37. https://doi.org/10.1080/15332748.2020.1769995

<p style="color:#008080";>2018 Special Issue of the Journal of Archival Organization (JAO 15.3-4) on Perspectives in Archival Science Education introduced by Alan Delozier:</p>

<p style="color:#008080";>Peter J. Wosh (2018) "Reflections on Public History and Archives Education" https://doi.org/10.1080/15332748.2019.1613316</p>

<p style="color:#008080";>Nicole J. Milano (2018) Rediscovering an American Legacy of Service through a Free Curriculum" https://doi.org/10.1080/15332748.2019.1613319</p>

<p style="color:#008080";>Jonathan Naveh (2018) "'Education against the Grain': Examining the Evolution of Media Archival Training at UCLA" https://doi.org/10.1080/15332748.2019.1613317</p>

<p style="color:#008080";>Anon Mirmani & Ratih Surtikanti (2018) "Universitas Indonesia Archives Office as a Place for Performing Educational Practicum Activities for Students of Archives Vocational Education Program at Universitas Indonesia" https://doi.org/10.1080/15332748.2019.1613318</p>

<p style="color:#008080";>Jessica J. Whitmore (2018) "Intro to Archival Science: Developing an Undergraduate Archival Elective Outside of a LIS Program" https://doi.org/10.1080/15332748.2019.1613313</p>

Farrell, Jessica and Christopher Lee. "Supporting and Sustaining Digital Curation Education with BitCuratorEdu," In Proceedings of the Society of American Archivists 2019 Research Forum (Austin, TX: Society of American Archivists). https://www2.archivists.org/am2019/research-forum-2019/agenda</p>

<p style="color:#008080";>2020 special issue of <i>Archives and Records</i> 41(2) on Archives and Education: New Pedagogies and Practice guest edited by Paul Flynn:</p>

<p style="color:#008080";>Katrina Legg, Rhian Elizabeth Ellis, & Chris Hall (2020) "Applying the seven principles of good practice: Archives in the 21st century university" https://doi.org/10.1080/23257962.2020.1728525</p>

<p style="color:#008080";>Kirsten Mulrennan (2020). "Lessons in making the unique ubiquitous: Diversifying the role of the Special Collections and Archives Department to enhance teaching and learning at the University of Limerick" https://doi.org/10.1080/23257962.2020.1713070</p>

<p style="color:#008080";>Sarah C. Jane & Hannah Maughan (2020) "<i>Making:Archives</i> – a case study of creative collaboration" https://doi.org/10.1080/23257962.2020.1713071</p>

<p style="color:#008080";>Karen Watson & Kirsty Pattrick (2020) "Teaching archive skills: A pedagogical journey with impact" https://doi.org/10.1080/23257962.2020.1729107</p>

Force, Donald C. (2017). The education of records and information management professionals: A pathway to professional identity. <i>Education for Information</i> 33 (4): 247-267. http://doi.org/10.3233/EFI-180154</p>

Force, Donald. "A Profession in Peril: Charting a Way Forward for RIM in North America." Information Management (Jan/Feb 2017), 20-27. https://magazine.arma.org/wp-content/uploads/simple-file-list/2017_01_IM_profession_in_peril_force.pdf</p>

Force, Donald C. and Jane Zhang. “Discovery from Within: An Examination of Records Management and Electronic Records Management Syllabi.” Records Management Journal 26, no. 3 (2016): 259-278. https://doi.org/10.1108/RMJ-11-2015-0034</p>

<p style="color:#008080";>2017 Archival Education and Training special issue 33(2) of <i>Education for Information</i> edited by Fiorella Foscarini:</p>

<p style="color:#008080";>Eastwood, Terry. (2017). “A personal reflection on the development of archival education.” http://doi.org/10.3233/EFI-170990</p>

<p style="color:#008080";>Douglas, Jennifer. (2017). “Getting personal: Personal archives in archival programs and curricula.” http://doi.org/10.3233/EFI-170991</p>

<p style="color:#008080";>Lowry, James. (2017). “A report on education and training in the International Council on Archives’ Africa Programme.” http://doi.org/10.3233/EFI-170992</p>

<p style="color:#008080";>Gauld, Craig & Patricia Whatley. (2017). “Distance learning for information professionals: A practical, reality-driven model for postgraduate education.” http://doi.org/10.3233/EFI-170993</p>

L. Francisco-Revilla, C.B. Trace, H. Li, and S.A. Buchanan. (2015). “Encoded Archival Description: Data Quality and Analysis.” In ASIST 2014: Proceedings of the 77th ASIS&T Annual Meeting: Connecting Collections, Cultures, and Communities, Ed. A. Grove. Silver Spring, MD: ASIST: 1-10. https://doi.org/10.1002/meet.2014.14505101043</p>

Francisco-Revilla, L. & C. B. Trace. "Enhancing Evidentiary Work through the Lens of Human-Centered Computing," In Proceedings of the Society of American Archivists 2013 Research Forum (New Orleans, LA: Society of American Archivists). https://www2.archivists.org/publications/research-forum/2013#peer</p>

P. Galloway. “From Archival Management to Archival Enterprise to the Information Domain: David Gracy and the Development of Archival Education at the University of Texas,” Information and Culture: A Journal of History 49 (1) (2014): 3-33.</p>

Galloway, Patricia. (2011). "Educating for Digital Archiving through Studio Pedagogy, Sequential Case Studies, and Reflective Practice." Archivaria 72: 169-196. https://archivaria.ca/index.php/archivaria/article/view/13363</p>

Patricia Garcia (2017) Accessing Archives: Teaching with Primary Sources in K–12 Classrooms. The American Archivist 80, No. 1, pp. 189-212. https://doi.org/10.17723/0360-9081.80.1.189</p>

Garcia, Patricia & Scott, Kimberly. (2016). Traversing a Political Pipeline: An Intersectional and Social Constructionist Approach Toward Technology Education for Girls of Color. InterActions: UCLA Journal of Education and Information Studies, 12(2). https://escholarship.org/uc/item/52f3z0wt</p>

<p style="color:#008080";>2017 special issue on AERI 2016 of PDT&C 46(1) guest edited by Leisa Gibbons and Karen Gracy:</p>

<p style="color:#008080";>Gibbons, Leisa & Gracy, Karen F. (2017) New Beginnings: Introduction to the Special Issue on AERI 2016. https://doi.org/10.1515/pdtc-2017-0004</p>

<p style="color:#008080";>Horansky, Eileen. (2017). AERI 2016 Student Report. doi:10.1515/pdtc-2017-0002.</p>

Gilliland, Anne J. & Halilovich, Hariz. (2017). Migrating memories: transdisciplinary pedagogical approaches to teaching about diasporic memory, identity and human rights in archival studies. Archival Science 17(1): 79-96. https://doi.org/10.1007/s10502-016-9265-9</p>

Gilliland, Anne J., McKemmish, Sue, & Lau, Andrew J. (Eds.). (2016). <i>Research in the Archival Multiverse</i>. Clayton, Victoria, Australia: Monash University Publishing. http://www.oapen.org/search?identifier=628143</p>

Gilliland, Anne J. (2016). Building the Scholarly Base of a Field: Reflections on 8 Years of the Archival Education and Research Initiative (AERI). Preservation, Digital Technology & Culture 45 (1): 27–31. https://doi.org/10.1515/pdtc-2016-0004</p>

A. J. Gilliland. Conceptualizing Twenty-First-Century Archives (Chicago: SAA, 2014).</p>

A. J. Gilliland. “Pluralizing Archival Education: A Non-Zero-Sum Proposition,” Chapter 10 in Through the Archival Looking Glass: A Reader on Diversity and Inclusion, M. Caldera and K. Neal, eds. (Chicago, IL: Society of American Archivists, 2014): 231-268.</p>

Gilliland, Anne. Neutrality, social justice and the obligations of archival education and educators in the twenty-first century. Archival Science (2011) 11(3-4): 193-209. https://doi.org/10.1007/s10502-011-9147-0</p>

Gracy, Karen. "Creating Competencies for Audiovisual Archiving Education and Professional Development," In Proceedings of the Society of American Archivists 2019 Research Forum (Austin, TX: Society of American Archivists). https://www2.archivists.org/am2019/research-forum-2019/agenda</p>

Gracy, Karen F. 2018. "Holistic competency development and the significance of learning domains in audiovisual archiving education." <i>Education for Information</i> 34 (1): 55-77. http://doi.org/10.3233/EFI-189006</p>

<p style="color:#008080";>Gracy, Karen F. (Ed.). (2017). Emerging Trends in Archival Science. Rowman & Littlefield. https://rowman.com/ISBN/9781442275140/ :</p>

<p style="color:#008080";>Sarah Buchanan (2017), "Insights from Archivists to Educate for Advocacy"</p>

Hamburger, Susan. "Why Archival Certification?: Professional Development, Continuing Education, and Credibility," In Proceedings of the Society of American Archivists 2016 Research Forum (Atlanta, GA: Society of American Archivists). https://www2.archivists.org/am2016/research-forum-2016/agenda </p>

Hamburger, Susan. "Why Archival Certification?: Professional Development, Continuing Education, and Credibility," In Proceedings of the Society of American Archivists 2016 Research Forum (Atlanta, GA: Society of American Archivists). https://www2.archivists.org/proceedings/research-forum/2016/agenda#papers</p>

C. Hank, C.R. Sugimoto, A. Tsou, and J. Pomerantz. “Faculty and Student Interactions on Facebook: Policies, Preferences and Practices.” Information Technology, 56 (5) (2014): 216-223. doi:10.1515/itit-2014-1061. </p>

Hennig, Alyse. "Turning A Challenge into Education: MA Museum Administration Students Undertake a Real-Life Collections Management Project," In Proceedings of the Society of American Archivists 2019 Research Forum (Austin, TX: Society of American Archivists). https://www2.archivists.org/am2019/research-forum-2019/agenda</p>

Howard, Katherine, Helen Partridge, Hilary Hughes, & Gillian Oliver. (2016). Passion trumps pay: A study of the future skills requirements of information professionals in galleries, libraries, archives and museums in Australia. Information Research 21(2), paper 714. http://informationr.net/ir/21-2/paper714.html</p>

Hung, Eric. "Designing Educational Initiatives for the Music of Asian America Research Center," In Proceedings of the Society of American Archivists 2018 Research Forum (Washington, D.C.: Society of American Archivists). https://www2.archivists.org/am2018/research-forum-2018/agenda#posters</p>

Latham, Kiersten F. (2018). Blank slate: Using systems thinking to develop an integrated LAM curriculum. <i>Education for Information</i> 34 (2): 97-111. http://doi.org/10.3233/EFI-180188</p>

Lee, Christopher (Cal). "Reaching the Archival Profession: Publishing in American Archivist," In Proceedings of the Society of American Archivists 2018 Research Forum (Washington, D.C.: Society of American Archivists). https://www2.archivists.org/am2018/research-forum-2018/agenda#posters</p>

C. A. Lee, P. Olsen, A. Chassanoff, K. Woods, M. Kirschenbaum, and S. Misra. From Code to Community: Building and Sustaining BitCurator through Community Engagement. (September 30, 2014). Available: http://www.bitcurator.net/wp-content/uploads/2014/11/code-to-community.pdf.</p>

LHRT (Library History Round Table) of ALA. “Teacher’s Corner.” LHRT News and Notes. https://lhrtnews.wordpress.com/teachers-corner/</p>

Marciano, Richard. "Developing a Framework to Enable Collaboration in Computational Archival Science Education," In Proceedings of the Society of American Archivists 2019 Research Forum (Austin, TX: Society of American Archivists). https://www2.archivists.org/am2019/research-forum-2019/agenda#peer</p>

Chris Marino (2018). Inquiry-based Archival Instruction: An Exploratory Study of Affective Impact. The American Archivist 81, No. 2, pp. 483-512. https://doi.org/10.17723/0360-9081-81.2.483</p>

Erik A. Moore & Rebecca Toov (2020). Listening to Our Collections: Preserving Records of University-Based Educational Radio Stations in Campus Archives, Journal of Archival Organization 17(1-2): 38-53. https://doi.org/10.1080/15332748.2020.1754707

Elizabeth Mullins (2020). Encyclopedia of archival writers 1515-2015: Writing history through biography. Archives and Records 41(3): 299-305. https://doi.org/10.1080/23257962.2020.1805590

Cory L. Nimer and J. Gordon Daines III, "Teaching Undergraduates to Think Archivally," Journal of Archival Organization 10, no. 1 (2012): 4-44. https://doi.org/10.1080/15332748.2012.680418</p>

M. Ngoepe, J. Maluleka, and O.B. Onyancha. “Research Collaboration in the Archives and Records Management Field Across and Beyond Universities in Africa: An Informetric Analysis,” Mousaion 31(3) (2014): 119-136.</p>

S. U. Noble, M. Sweeney, J. Austin,  L. McKeever, and E. Sullivan. “Changing Course: Collaborative Reflections of Teaching/Taking ‘Race, Gender, and Sexuality in the Information Professions’.” Journal of Education for Library & Information Science 55(3) (2014). </p>

Owens, Trevor. 2019. "Cultivating Craft in Context: Graduate Students as Digital Preservation Consultants for Small Cultural Heritage Organizations." <i>International Journal on Innovations in Online Education</i> 2 (4). http://doi.org/10.1615/IntJInnovOnlineEdu.2019029576</p>

W. Pan. “Diplomatics in China.” Records Management Journal 25 (1) (2015): 121-133.</p>

J. Pomerantz, C. Hank, and C.R. Sugimoto. “The state of social media policies in higher education.” PLoS One, 10 (5) (2015). doi:10.1371/journal.pone.0127485</p>

Ricardo L. Punzalan, "Dear Students: Becoming an Archivist in a Time of Uncertainty and Unrest," The Library Quarterly 87, no. 4 (October 2017): 303-305. https://doi.org/10.1086/693486</p>

Punzalan, Ricardo L. (2017). Fostering archival scholarship: Introduction to the special issue on the Archival Education & Research Institute. Archival Science 17 (1): 1-3. https://doi.org/10.1007/s10502-017-9275-2</p>

Ricardo L. Punzalan and Michelle Caswell, "Critical Directions for Archival Approaches to Social Justice," The Library Quarterly 86, no. 1 (January 2016): 25-42. https://doi.org/10.1086/684145</p>

Lorraine L. Richards (2016) Teaching Data Creators How to Develop an OAIS-Compliant Digital Curation System: Colearning and Breakdowns in Support of Requirements Analysis. The American Archivist 79, No. 2, pp. 371-391. https://doi.org/10.17723/0360-9081-79.2.371</p>

Lorraine L. Richards & William C. Regli. “Scientific Data Curation in Government Agencies: Teaching Agency Data Creators How to Develop an OAIS-Compliant Digital Curation System,” In Proceedings of the Society of American Archivists 2014 Research Forum (Washington, DC: Society of American Archivists). https://www2.archivists.org/2014/research-forum-2014/agenda#posters</p>

S. T. Roberts and S. U. Noble. (2016). “Empowered to Name, Inspired to Act: Social Responsibility and Diversity as Calls to Action in the LIS Context.” Library Trends 64(3): 512-532. https://doi.org/10.1353/lib.2016.0008 and https://ir.lib.uwo.ca/fimspub/34/</p>

Donghee Sinn (2013) Collaborative Education between Classroom and Workplace for Archival Arrangement and Description: Aiming for Sustainable Professional Education. The American Archivist 76, No. 1, pp. 237-262. https://doi.org/10.17723/aarc.76.1.u86275j711w471m6</p>

Sinn, D. "Archival Education and Hands-on Practices from Archival Institutions: Can Be Win-Win for Both Parties," In Proceedings of the Society of American Archivists 2011 Research Forum (Chicago: Society of American Archivists). https://www2.archivists.org/proceedings/research-forum/2011#posters</p>

Sly, Margery N. "Teaching with Primary Sources: Building Resources for Success," In Proceedings of the Society of American Archivists 2017 Research Forum (Portland, OR: Society of American Archivists). https://www2.archivists.org/am2017/research-forum-2017/agenda</p>

Soyka, Heather. (2018). Report on the 2018 Archival Education and Research Institute (AERI). Preservation, Digital Technology & Culture, 47(2), pp. 65. doi:10.1515/pdtc-2018-0018</p>

Soyka, Heather A. & Wilczek, Eliot. (2020). "Ten years of Archival Education and Research Institutes: A snapshot of scholarship." Archival Science 20(3): 221–244. https://doi.org/10.1007/s10502-020-09331-2

C. R. Sugimoto, C. Hank, T. Bowman, and J. Pomerantz.  “Friend or Faculty: Social Networking Sites, Dual Relationships and Context Collapse in Higher Education.” First Monday, 20 (3)(2015). doi:10.5210/fm.v20i3.5387. </p>

<p style="color:#008080";>2019 Special Issue on the Tenth Annual Archival Education and Research Institute 48(2) of PDT&C guest edited by Tonia Sutherland:</p>

<p style="color:#008080";>Sutherland, Tonia. (2019). Celebrating a Decade of Archival Education and Research: The Tenth Annual Archival Education and Research Institute. doi:10.1515/pdtc-2019-0010</p>

<p style="color:#008080";>Wright, Trudi & Benoit III, Edward. (2019). Technology Use in Designing Curriculum for Archivists: Utilizing Andragogical Approaches in Designing Digital Learning Environments for Archives Professional Development. doi:10.1515/pdtc-2019-0005</p>

Tibbo, Helen R. "Teaching Research Data Management to the World," In Proceedings of the Society of American Archivists 2017 Research Forum (Portland, OR: Society of American Archivists). https://www2.archivists.org/am2017/research-forum-2017/agenda</p>

Tibbo, Helen R. "Teaching the Masses about Research Data Management," In Proceedings of the Society of American Archivists 2016 Research Forum (Atlanta, GA: Society of American Archivists). https://www2.archivists.org/am2016/research-forum-2016/agenda#posters </p>

C. B. Trace and L. Francisco-Revilla. (2015). “The Value and Complexity of Collection Arrangement for Evidentiary Work,” Journal of the Association for Information Science and Technology 66 (9): 1857-1882. https://doi.org/10.1002/asi.23295</p>

Trace, C. and S. Buchanan. "Enhancing Evidentiary Work through the Lens of Human-Centered Computing." In <i>7th Annual Society of American Archivists (SAA) Research Forum Proceedings</i>, Eds. N. McGovern, H. Tibbo. New Orleans, LA, 13 August 2013. Refereed Abstract: http://www2.archivists.org/proceedings/research-forum/2013</p>

Ciaran B. Trace and Carlos J. Ovalle (2012). "Archival Reference and Access: Syllabi and a Snapshot of the Archival Canon," The Reference Librarian 53 (1): 76-94. doi:10.1080/02763877.2011.596364</p>

Kelvin L. White and Anne J. Gilliland, "Promoting Reflexivity and Inclusivity in Archival Education, Research, and Practice," The Library Quarterly 80, no. 3 (July 2010): 231-248. https://doi.org/10.1086/652874</p>

Wilczek, Eliot. "The Formulation of Grand Challenges within AERI Scholarship, 2009-2017," In Proceedings of the Society of American Archivists 2018 Research Forum (Washington, D.C.: Society of American Archivists). https://www2.archivists.org/am2018/research-forum-2018/agenda</p>

Wilczek, Eliot. "Towards a Wicked Problems Research Agenda for Archival and Recordkeeping Scholarship," In Proceedings of the Society of American Archivists 2017 Research Forum (Portland, OR: Society of American Archivists). https://www2.archivists.org/am2017/research-forum-2017/agenda</p>

M. Willer, A. J. Gilliland, and M. Tomic, eds, Records, Archives and Memory: Selected Papers from the Conference and School on Records, Archives and Memory Studies, University of Zadar, Croatia, May 2013, (Zadar: University of Zadar Press, 2015).</p>

Wright, Kathryn & Kristen Bailey. "'Can I Really Touch It?' Antiquities in the Hands of History Undergraduates," In Proceedings of the Society of American Archivists 2018 Research Forum (Washington, D.C.: Society of American Archivists). https://www2.archivists.org/am2018/research-forum-2018/agenda#posters</p>

Yakel, E., Conway, P., Hedstrom, M., & Wallace, D. (2011). Digital Curation for Digital Natives. Journal of Education for Library and Information Science (JELIS), 52(1), 23-31. http://www.jstor.org/stable/25764651</p>

Youn, Eunha. (2011). Archival Studies in North America: Current Developments and Trends. Journal of Korean Society of Archives and Records Management (한국기록관리학회지) 11 (2): 77-94. http://www.koreascience.or.kr/article/JAKO201117443315310.page</p>

Zhang, Jane. "Radical Collaboration between Computer Science and Archival Science to Educate Next Generation Archivists," In Proceedings of the Society of American Archivists 2019 Research Forum (Austin, TX: Society of American Archivists). https://www2.archivists.org/am2019/research-forum-2019/agenda</p>

Jane Zhang. "Electronic Records Management: A Course Content Analysis," In Proceedings of the Society of American Archivists 2014 Research Forum (Washington, DC: Society of American Archivists). https://www2.archivists.org/2014/research-forum-2014/agenda#peer</p>

Zhang, J. "Electronic Records in the Archival Curriculum," In Proceedings of the Society of American Archivists 2014 Research Forum (Washington, D.C.: Society of American Archivists). https://www2.archivists.org/2014/research-forum-2014/agenda</p>

Zhang, Jing, Jiaping Lin, Ying Zhang, & Andrew Madden. (2017). Education and Training of Preservation and Conservation in Sun Yat-sen University (2001–2016). Preservation, Digital Technology & Culture, 46(2), pp. 61-68. doi:10.1515/pdtc-2017-0001</p>

<p><b>2001-2010</b>:</p>
Anderson, Karen. (2007), "Education and training for records professionals", Records Management Journal, Vol. 17 No. 2, pp. 94-106. https://doi.org/10.1108/09565690710757896</p>

<p style="color:#008080";>2005 special reviews of Macroappraisal in Archival Science 5(2-4) guest edited by Catherine Bailey:</p>

<p style="color:#008080";>Eastwood, Terry (2005). Teaching and Learning about Macroappraisal. https://doi.org/10.1007/s10502-005-9007-x</p>

<p style="color:#008080";>Bastian, Jeannette Allis. Teaching Appraisal in an American (U.S.) Archives Program. https://doi.org/10.1007/s10502-005-9008-9</p>

<p style="color:#008080";>Anderson, Karen. (2005). Teaching about Electronic Records in an Online Learning Environment. https://doi.org/10.1007/s10502-005-9009-8</p>

<p style="color:#008080";>Craig, Barbara L. "Setting the Students’ Bearings and Balance in Appraisal." https://doi.org/10.1007/s10502-005-9018-7</p>

Bastian, J., R. Harvey, M. Mahard, T. Plum, “Building a Virtual Archives and Preservation Curriculum Laboratory at Simmons College: A Case Study in Collaborative Construction,” Journal of Education in Library and Information Science (JELIS) 51.4 (Fall 2010): 241-50. https://www.jstor.org/stable/25764641</p>

Jeannette A. Bastian and Donna Webber. <i>Archival Internships: A Guide for Faculty, Supervisors, and Students</i> (Chicago: Society of American Archivists, 2008).</p>

<p style="color:#008080";>2006 Special Issue on Graduate Archival Education of Archival Science 6(2) guest edited by Jeannette Allis Bastian:</p>

<p style="color:#008080";>Bastian, Jeannette A. and Elizabeth Yakel (2006), "Towards the Development of an Archival Core Curriculum: The United States and Canada." https://doi.org/10.1007/s10502-006-9024-4</p>

<p style="color:#008080";>Eastwood, Terry (2006), "Building archival knowledge and skills in the digital age." https://doi.org/article/10.1007/s10502-006-9026-2</p>

<p style="color:#008080";>Uhde, Karsten (2006), "New Education in Old Europe." https://doi.org/10.1007/s10502-006-9028-0</p>

<p style="color:#008080";>Nengomasha, Cathrine T. (2006), "Training for the archival profession in Namibia." https://doi.org/10.1007/s10502-006-9029-z</p>

<p style="color:#008080";>Upward, Frank & Sue McKemmish. (2006), "Teaching recordkeeping and archiving continuum style." https://doi.org/10.1007/s10502-006-9030-6</p>

<p style="color:#008080";>Tibbo, Helen R. (2006), "So much to learn, so little time to learn it: North American archival education programs in the information age and the role for certificate programs." https://doi.org/10.1007/s10502-006-9031-5</p>

<p style="color:#008080";>Cox, Richard J. (2006), "Are there really new directions and innovations in archival education?" https://doi.org/10.1007/s10502-006-9032-4</p>

Bastian, Jeannette and Elizabeth Yakel, "'Are We There Yet?' Professionalism and Development of an Archival Core Curriculum in the United States." Journal of Education for Library and Information Science (JELIS) 46(2) (Spring 2005), 95-114. doi:10.2307/40323864</p>

Bastian, Jeannette A. "Measuring the Success of Internships in an Archives Education Program," Journal of Education for Library and Information Science (JELIS) 43(2) (Spring 2002): 164-174. doi:10.2307/40323977</p>

Buchanan, Sarah. (2010). "Accessioning the Digital Humanities: Report from the 1st Archival Education and Research Institute." Digital Humanities Quarterly 4(1). http://www.digitalhumanities.org/dhq/vol/4/1/000084/000084.html</p>

Cox, Richard J. (2009). Unpleasant Things: Teaching Advocacy in Archival Education Programs. InterActions: UCLA Journal of Education and Information Studies, 5(1). https://escholarship.org/uc/item/0408w1dv</p>

Cox, Richard J., Elizabeth Yakel, Jeannette Bastian, David Wallace and Jennifer Marshall, "Educating Archivists in Library and Information Science Schools," Journal of Education in Library and Information Science (JELIS) 42(3) (Summer 2001): 228-240. doi:10.2307/40324014</p>

Cox, Richard J., Elizabeth Yakel, Jeannette Bastian, David Wallace and Jennifer Marshall, "Archival Education in North American Library and Information Science Schools: A Status Report," The Library Quarterly 71(2) (April 2001): 141-194. https://doi.org/10.1086/603260</p>

Anne Gilliland, Sue McKemmish, Kelvin White, Yang Lu, and Andrew Lau (2008) Pluralizing the Archival Paradigm: Can Archival Education in Pacific Rim Communities Address the Challenge?. The American Archivist 71, No. 1, pp. 87-117. https://doi.org/10.17723/aarc.71.1.781w61g4r2kh3708</p>

Jimerson, Randall C. (2001), "Graduate archival education at Western Washington University", OCLC Systems & Services: International digital library perspectives, Vol. 17 No. 4, pp. 157-166. https://doi.org/10.1108/10650750110409353</p>

Krebs, Alison B. "Moving From Theory to Praxis: Designing Participatory Archival Indigenous Information Ethics Education," In Proceedings of the Society of American Archivists 2009 Research Forum (Austin, TX: Society of American Archivists). https://www2.archivists.org/publications/research-forum/2009</p>

Long, C. "Designing, Implementing and Evaluating a Service-Based Learning Curriculum for a Masters of Archival Studies Program," In Proceedings of the Society of American Archivists 2010 Research Forum (Washington, D.C.: Society of American Archivists). https://www2.archivists.org/publications/research-forum/2010</p>

Ngulube, P. (2001), "Guidelines and standards for records management education and training: a model for Anglophone Africa", Records Management Journal, Vol. 11 No. 3, pp. 155-173. https://doi.org/10.1108/EUM0000000007273</p>

Procter, M. (2002), "One size does not fit all: developing records management in higher education", Records Management Journal, Vol. 12 No. 2, pp. 48-54. https://doi.org/10.1108/09565690210442917</p>

Rankin, Frank. (2003), "The Scottish Postgraduate Archives Training Project – issues for the records management community", Records Management Journal, Vol. 13 No. 1, pp. 32-37. https://doi.org/10.1108/09565690310465</p>

Roff, Sandra. (2007). "Archives, Documents, and Hidden History: A Course to Teach Undergraduates the Thrill of Historical Discovery Real and Virtual." The History Teacher 40(4): 551-558. doi:10.2307/30037050</p>

Shepherd, E. (2006), "Developing a new academic discipline", Aslib Proceedings, Vol. 58 No. 1/2, pp. 10-19. https://doi.org/10.1108/00012530610648644</p>

Tibbo, H., H. Bowden, & C. Lee. "The DigCCurr II Professional Institute: The Process of Developing a New Approach for Contextually-Relevant Continuing Education," In Proceedings of the Society of American Archivists 2009 Research Forum (Austin, TX: Society of American Archivists). https://www2.archivists.org/publications/research-forum/2009/posters</p>

Tibbo, Helen R., E. Yakel, & W. Duff. "AX-SNet Research Agenda," In Proceedings of the Society of American Archivists 2008 Research Forum (San Francisco: Society of American Archivists). https://www2.archivists.org/publications/research-forum/2008/posters</p>

Tsutsui, Y. "The First Year of the First Archival Science Course in Japan," In Proceedings of the Society of American Archivists 2009 Research Forum (Austin, TX: Society of American Archivists). https://www2.archivists.org/publications/research-forum/2009/posters</p>

Walch, V. and Yakel, E. (2006), "The Archival Census and Education Needs Survey in the United States (A*CENSUS)", OCLC Systems & Services: International digital library perspectives, Vol. 22 No. 1, pp. 15-22. https://doi.org/10.1108/10650750610640757</p>

Yakel, Elizabeth and Jeannette Allis Bastian. (Fall/Winter 2006). "Part 4. A*CENSUS: Report on Graduate Archival Education." The American Archivist 69(2): 349-366. https://doi.org/10.17723/aarc.69.2.d474374017506522</p>

<p><b>1991-2000</b>:</p>
F. Ham, Frank Boles, Gregory Hunter, and James O'Toole (1993) Is the Past Still Prologue?: History and Archival Education. The American Archivist 56, No. 4, pp. 718-729. https://doi.org/10.17723/aarc.56.4.7151h15363320751</p>

King, Lesley A. (1996), "Continuing Vocational Education (CVE): the training needs of records management practitioners. Report of a research project", Records Management Journal, Vol. 6 No. 2, pp. 93-109. https://doi.org/10.1108/eb027090</p>

Pember, M. (1998), "The rise of the ‘new age’ records management professional: records management education and training in Australia", Records Management Journal, Vol. 8 No. 3, pp. 63-75. https://doi.org/10.1108/EUM0000000007238</p>

Paule René-Bazin (1992) The Future of European Archival Education. The American Archivist 55, No. 1, pp. 58-65. https://doi.org/10.17723/aarc.55.1.m30615u320255428</p>

Shepherd, Elizabeth (1998), "Partnerships in professional education: a study in archives and records management", Records Management Journal, Vol. 8 No. 3, pp. 19-37. https://doi.org/10.1108/EUM0000000007235</p>

Shepherd, E. (1997), "Continuing vocational education and archives and records management: a project progress report from University College London", Records Management Journal, Vol. 7 No. 2, pp. 131-146. https://doi.org/10.1108/eb027109</p>

Tyler Walters (1991) Possible Educations for Archivists: Integrating Graduate Archival Education with Public History Education Programs. The American Archivist 54, No. 4, pp. 484-492. https://doi.org/10.17723/aarc.54.4.rj20243h40463587</p>

Westwood, Sarah. (1998), "Records management education and training at Liverpool: a year of change at LUCAS", Records Management Journal, Vol. 8 No. 3, pp. 39-53. https://doi.org/10.1108/EUM0000000007236</p>

<p style="color:#008080";>2000 Special Issue on Archival Education 63(2) of The American Archivist edited by Elizabeth Yakel:</p>

<p style="color:#008080";>Luciana Duranti (2000) "The Society of American Archivists and Graduate Archival Education: A Sneak Preview of Future Directions" https://doi.org/10.17723/aarc.63.2.l417x9l3840qn07l</p>

<p style="color:#008080";>Peter Wosh (2000) "Research and Reality Checks: Change and Continuity in NYU's Archival Management Program" https://doi.org/10.17723/aarc.63.2.n00l0588g6157373</p>

<p style="color:#008080";>David Wallace (2000) "Survey of Archives and Records Management Graduate Students at Ten Universities in the United States and Canada" https://doi.org/10.17723/aarc.63.2.72050g01j3v858j1</p>

<p style="color:#008080";>Elizabeth Yakel (2000) "The Future of the Past: A Survey of Graduates of Master's-Level Archival Education Programs in the United States" https://doi.org/10.17723/aarc.63.2.p8843508857g69v5</p>

<p style="color:#008080";>Richard Cox (2000) "The Society of American Archivists and Graduate Education: Meeting at the Crossroads" https://doi.org/10.17723/aarc.63.2.r64t27100718121r</p>

<p style="color:#008080";>Terry Cook (2000) "'The Imperative of Challenging Absolutes' in Graduate Archival Education Programs: Issues for Educators and the Profession" https://doi.org/10.17723/aarc.63.2.27438310j3390088</p>

Yusof, Z. and Chell, R. (1998), "Records Management Education and Training World‐Wide: A General Overview of the Current Situation", Records Management Journal, Vol. 8 No. 1, pp. 25-54. https://doi.org/10.1108/EUM0000000007229</p>

<p><b>1981-1990</b>:</p>
Paul Conway (1988) Archival Education and the Need for Full-Time Faculty. The American Archivist 51, No. 3, pp. 254-265. https://doi.org/10.17723/aarc.51.3.h83w32487q870239</p>

Richard J. Cox, "Educating Archivists: Speculations on the Past, Present, and Future," Journal of the American Society for Information Science (JASIS) 39, no. 5 (1988): 340-343. https://doi.org/10.1002/(SICI)1097-4571(198809)39:5%3C340::AID-ASI11%3E3.0.CO;2-0 and http://d-scholarship.pitt.edu/2727/</p>

Terry Eastwood (1988) Nurturing Archival Education in the University. The American Archivist 51, No. 3, pp. 228-252. https://doi.org/10.17723/aarc.51.3.qgk71605x660gm85</p>

Timothy Ericson (1988) Professional Associations and Archival Education: A Different Role, or a Different Theater?. The American Archivist 51, No. 3, pp. 298-311. https://doi.org/10.17723/aarc.51.3.q26157412364n745</p>

William Joyce (1988) Archival Education: Two Fables. The American Archivist 51, No. 1-2, pp. 16-22. https://doi.org/10.17723/aarc.51.1-2.p4j85330k171023g</p>

James O'Toole (1990) Curriculum Development in Archival Education: A Proposal. The American Archivist 53, No. 3, pp. 460-466. https://doi.org/10.17723/aarc.53.3.14t7514u31735536</p>

<p><b>1971-1980</b>:</p>

in progress</p>
