---
layout: archive
title: "Bibliography"
permalink: /bibliography/
author_profile: true
---

{<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<b>ArchiPrEd (2017–) Bibliography on Archival Education</b>:

2011-2020:</br>
The Archival Education and Research Institute (AERI), Pluralizing the Archival Curriculum Group (PACG) (2011) Educating for the Archival Multiverse. The American Archivist 74, No. 1, pp. 69-101. https://doi.org/10.17723/aarc.74.1.hv339647l2745684</br>

Alaniz, Des. "Archival Education, Present and Future: Evaluating Curriculum for Critical Archival Practice," In Proceedings of the Society of American Archivists 2016 Research Forum (Atlanta, GA: Society of American Archivists). https://www2.archivists.org/am2016/research-forum-2016/agenda</br> 

