---
layout: archive
title: "Bibliography"
permalink: /bibliography/
author_profile: true
---

<!-- <p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->

<p><b>ArchiPrEd (2017–) Bibliography on Archival <i>Education</i></b>:</p>

<p><b>2021-2030</b>:</p>
Adkins, D., Buchanan, S.A., Bossaller, J.S., Brendler, B.M., Alston, J.K., and H. Moulaison-Sandy. "Assessing experiential learning to promote students’ diversity engagement." Journal of Education for Library and Information Science (JELIS), 62.2 (Apr. 2021): 201-219. doi:10.3138/jelis.2019-0061</p>

Allen-Handy, A., Meloche, A., Brown, J., Frazier, A., Escalante, K., Walker, M., Burns, I., Edwards-Chapman, N., Ervin, Q., Thomas, A., Thomas, M., Wortham, I., Bugg, D. & Dia, J. (2021). Preserving History for the Persistent Legacy of Our School: A Youth-Led Participatory Heritage Project. Preservation, Digital Technology & Culture 50(1), 15-29. https://doi.org/10.1515/pdtc-2021-0003</p>

Kimberly Anderson and Rayla Tokarz. "An Archives Curriculum for Liaison Librarians," In Proceedings of the Society of American Archivists 2021 Research Forum (Virtual: Society of American Archivists). https://www2.archivists.org/am2021/research-forum-2021/agenda#posters</p>

April K. Anderson-Zorn and Alicia Wodika. "Exploring the Present with the Past: Incorporating Archival Exploration in Teaching Disease Prevention," In Proceedings of the Society of American Archivists 2022 Research Forum (Virtual: Society of American Archivists). https://www2.archivists.org/am2022/research-forum-2022/agenda</p>

Joanna Baines (2023) "Establishing special collections literacy for undergraduate students: An investigation into benefits and barriers of access," Archives and Records 44(1): 8-35. doi:10.1080/23257962.2022.2149481</p>

Jane E. Bartley, Sarah A. Buchanan, Victoria S. Reed, Kelley M. Klor, and Charissa F. Ercolin. (2023). Accessing Continuing Education for Provenance Research. Proceedings of the Society of American Archivists 2022 Research Forum. https://www2.archivists.org/am2022/research-forum-2022/agenda#peer</p>

Edward Benoit and Allan Martell. "Utilizing Focus Group Research Data to Create Preservation Curricula for Veterans," In Proceedings of the Society of American Archivists 2022 Research Forum (Virtual: Society of American Archivists). https://www2.archivists.org/am2022/research-forum-2022/agenda</p>

Bradley Bishop, Matthew Cowan, Hannah Collier, Matthew Mayernik, and Peter Organisciak. (2023). Job Analyses of Earth Science Data Managers: A Survey Validation of Competencies to Inform Curricula in Research Data Management Education. Journal of Education for Library and Information Science 64(2): 104-119. https://doi.org/10.3138/jelis-2021-0023</p>

Peter Botticelli. (2021). Cultural Heritage Informatics: Building an Interdisciplinary Master’s Concentration. Journal of Education for Library and Information Science 62(2): 220-231. https://doi.org/10.3138/jelis.2019-0055</p>

Alexis Bracey and Alexandra Chassanoff. "Bringing Archives to the Classroom: The Hacking into History Civic Educators Project," In Proceedings of the Society of American Archivists 2022 Research Forum (Virtual: Society of American Archivists). https://www2.archivists.org/am2022/research-forum-2022/agenda</p>

S.A. Buchanan, K.F. Gracy, J. Kitchens, & R. Marciano. (2022). Computational thinking integration into archival educators’ networked instruction. 2022 IEEE International Conference on Big Data (Big Data), Osaka, Japan (7th Computational Archival Science (CAS) Workshop: Digital records in the age of big data): 2500-2506. doi:10.1109/BigData55660.2022.10021019</p> 

Chisita, C.T. and Tsabedze, V.W. "Massive open online courses (MOOCs): A tool for intercontinental collaboration in archives and records management education in Eswatini." Records Management Journal 31(2) (2021): 158-175. https://doi.org/10.1108/RMJ-08-2020-0028</p>

Alston Brake Cobourn, Jen Corrinne Brown, Edward Warga, and Lisa Louis. (2022). Toward Metaliteracy and Transliteracy in the History Classroom: A Case Study Among Underserved Students, The American Archivist 85(2): 587–608. doi:10.17723/2327-9702-85.2.587</p>

Nicole A. Cooke, Kellee E. Warren, Molly Brown, & Athena N. Jackson. "It Starts at Home: Infusing Radical Empathy into Graduate Education." Journal of Critical Library and Information Studies (JCLIS) 3(2) (2021). https://doi.org/10.24242/jclis.v3i2.123</p>

Victoria Cranna & Lioba Hirsch. Decolonising the London School of Hygiene & Tropical Medicine's Archives Service, Archives and Records. doi:10.1080/23257962.2021.1993806</p>

Carly Dearborn. "Diplomatic-informed archival pedagogy: A new instructional framework for the archival classroom," In Proceedings of the Society of American Archivists 2023 Research Forum (Virtual: Society of American Archivists). https://www2.archivists.org/am2023/research-forum-2023/agenda#posters</p>

Veronica L. Denison, Alyssa Willett, Alexandra Taitt, and Medeia Csoba Dehass (2021) "Teaching Archival Research Methods through Projects in Ethnohistory," Journal of Western Archives Vol. 12 Iss. 2, Article 4. https://digitalcommons.usu.edu/westernarchives/vol12/iss2/4</p>

Juliet A. Erima and Tshepho L. Mosweu. (2021). Revamping archival education training in Africa: Insights from the Digital Records Curation Study School held in Gaborone, Botswana, 5–9 August 2019, Comma 2021(1): 99–103. https://doi.org/10.3828/coma.2021.10</p>

Jessica Farrell. "Sustaining Digital Forensics Education through Participatory Action Research," In Proceedings of the Society of American Archivists 2022 Research Forum (Virtual: Society of American Archivists). https://www2.archivists.org/am2022/research-forum-2022/agenda</p>

Kimberly Y. Franklin. (2021). Re-examining the Socialization of Black Doctoral Students through the Lens of Information Theory, Journal of Critical Library and Information Studies (JCLIS) 3(3): https://doi.org/10.24242/jclis.v3i3.146</p>

Frings-Hessami, V. (2021). The societal embeddedness of records: Teaching the meaning of the fourth dimension of the Records Continuum Model in different cultural contexts. Archival Science 21(2), 139–154. https://doi.org/10.1007/s10502-020-09349-6</p>

Deborah A. Garwood and Alex H. Poole. (2021). FAIRising Pedagogical Documentation for the Research Lifecycle. MTSR 2020: Research Conference on Metadata and Semantic Research: 65-72. https://doi.org/10.1007/978-3-030-71903-6_7</p>

Gordana Gašo, Martina Dragija Ivanović, and Sanjica Faletar Tanacković. (2021). The Supervisory Relationship in the Doctoral Process: How Do Croatian LIS Students See It? Education for Information 37(4), 465–483. doi:10.3233/EFI-211554</p>

Gnanasekaran, R.K. and Marciano, R. (2021). Piloting Data Science Learning Platforms through the Development of Cloud-based Interactive Digital Computational Notebooks. ISGC2021 Proceedings, 378. doi:10.22323/1.378.0018</p>

Karen Gracy, Richard Marciano, Sarah Buchanan, and Joshua Kitchens. "Computational Thinking and Archival Pedagogy: An Interim Report on the CT-LASER+ Project," In Proceedings of the Society of American Archivists 2021 Research Forum (Virtual: Society of American Archivists). https://www2.archivists.org/am2021/research-forum-2021/agenda#posters</p>

Stanley H. Griffin & Scott Timcke. Re-framing archival thought in Jamaica and South Africa: Challenging racist structures, generating new narratives, Archives and Records 43(1) (2022): 1-17. doi:10.1080/23257962.2021.2002137</p>

Shannon Hodge, Sarah Nantel, & Chris Trainor. (2022). Remnants of Jenkinson: Observations on settler archival theory in Canadian archival appraisal discourse, Archives and Records 43(2): 147-160. doi:10.1080/23257962.2022.2037415</p>

Ines Horvat, Marija Milošević, and Damir Hasenay. "Designing an OER course in the field of written heritage preservation: Importance of content adaptation," Education for Information. doi:10.3233/EFI-230034</p>

Jen Hoyer, Kaitlin Holt, John Voiklis, Bennett Attaway, and Rebecca Joy Norlander. (2022). Redesigning Program Assessment for Teaching with Primary Sources: Understanding the Impacts of Our Work, The American Archivist 85(2): 443–479. doi:10.17723/2327-9702-85.2.443</p>

Kitchens, Joshua. (2021). Engaging with Silences: Clayton State Master of Archival Studies Program's Approach to Teaching. The International Journal of Information, Diversity, & Inclusion (IJIDI) 5(2): 99-110. doi:10.33137/ijidi.v5i2.34818</p>

Ke Liu. "A Comparative Research On The Practice Of 'Integrating Archives Into Classroom' between China And America," In iConference 2021 Proceedings (2021). http://hdl.handle.net/2142/109673</p>

James Lowry. (2022). Justus Wamukoya (1951 – 2021), Archives and Records 43(1): 115-118. doi:10.1080/23257962.2022.2045920</p>

James Lowry, Riah Lee Kinsey, Aimee Lusty, Ezra Hyman, Phyllis Heitjan, Alexander Rettie, and Kylie Goetz. (2021). No Manuals: Archives Administration 100 Years After Jenkinson’s Manual, Journal of Contemporary Archival Studies 8: https://elischolar.library.yale.edu/jcas/vol8/iss1/17</p>

Diana E. Marsh. "Digital knowledge sharing: Perspectives on use, impacts, risks, and best practices according to Native American and Indigenous community-based researchers." Archival Science 23(1) (2022): 81-115. https://doi.org/10.1007/s10502-021-09378-9</p>

Carrie P. Mastley, "Taking Care of What Matters: Training the Next Generation of Archivists through Experiential Learning," In Proceedings of the Society of American Archivists 2023 Research Forum (Virtual: Society of American Archivists). https://www2.archivists.org/am2023/research-forum-2023/agenda#posters</p>

Dominique Maurel and Natasha Zwarich. (2021). Information Governance and Power Relations: Reflections on Archival Education in Québec. Education for Information 37(1), 33–51. doi:10.3233/EFI-190360</p>

Robette Zepeda McLellan & Jennifer Elaine Steele. Working Together: A Bibliometric Study of Secondary School Education, Special Collections, and Archives, Journal of Archival Organization 17(3-4) (2020): 234-252. doi:10.1080/15332748.2021.1992206</p>

Sarah McLusky, "Post-Visit Surveys for In-Person and Virtual Classes," In Proceedings of the Society of American Archivists 2023 Research Forum (Virtual: Society of American Archivists). https://www2.archivists.org/am2023/research-forum-2023/agenda#posters</p>

Nathan Mnjama. (2021). Tribute to the late Professor Justus Wamukoya, Comma 2021(1): 25-29. https://doi.org/10.3828/coma.2021.4</p>

Makutla Mojapelo, Lorette Jacobs, and Ngoako Marutha. (2021). Development of a Data Curatorship and Management module at a CODeL higher education institution, Comma 2021(1): 75–87. https://doi.org/10.3828/coma.2021.8</p>

Antonio Muñoz-Cañavate and Estefanía Díaz-Delgado. (2021). The Intelligence Professional: A New Career Profile in Librarianship and Information Science Studies? Analysis of LIS Study Plans in Spain. Education for Information 37(3), 355–375. doi:10.3233/EFI-200449</p>

Angela P. Murillo & Ayoung Yoon. "Community Data Curation Competencies Framework," in iConference 2023 Posters (Virtual and Barcelona: iSchools). https://hdl.handle.net/2142/117365</p>

Mpho Ngoepe and Nampombe Saurombe. (2021). Africanisation of the South African Archival Curriculum: A Preliminary Study of Undergraduate Courses in an Open Distance E-learning Environment. Education for Information 37(1), 53–68. doi:10.3233/EFI-190358</p>

Mpho Ngoepe and Vusi Tsabedze. (2021). The first step is the hardest: Conceptualization of digital records curatorship in the information science curriculum at the University of Eswatini, Comma 2021(1): 89–98. https://doi.org/10.3828/coma.2021.9</p>

Lotus Norton-Wisla. (2022). Cycles of Learning and Growth: Developing the Tribal Digital Stewardship Cohort Program Guided by Indigenous Perspectives, Journal of Western Archives 13(1): https://digitalcommons.usu.edu/westernarchives/vol13/iss1/15</p>

Abigail Nye and Krista Grensavitch. "Seeing Oneself to See Others: The Personal Archive Assignment," In Proceedings of the Society of American Archivists 2021 Research Forum (Virtual: Society of American Archivists). https://www2.archivists.org/am2021/research-forum-2021/agenda</p>

Alex H. Poole and Ashley Todd-Diaz. (2023). 'Sometimes I feel like they hate us': The Society of American Archivists and Graduate Archival Education in the Twenty-first Century, The American Archivist 86(1): 79–116. doi:10.17723/2327-9702-86.1.79</p>

Alex H. Poole & Ashley Todd-Diaz. (2022). 'I'm not a very good visionary': Challenge and change in twenty-first century North American archival education, Archival Science 22(4): 585-616. https://doi.org/10.1007/s10502-022-09389-0</p>

Alex H. Poole and Ashley Todd-Diaz, "Researching the Current North American Graduate Archival Curriculum," In Proceedings of the Society of American Archivists 2022 Research Forum (Virtual: Society of American Archivists). https://www2.archivists.org/am2022/research-forum-2022/agenda</p>

A.H. Poole and J. Zhang (2021). "'It makes me sad': Archival Pedagogy in a Time of COVID-19." In Proceedings of the Association for Information Science and Technology (ASIST), 58: 315-326. https://doi.org/10.1002/pra2.459</p>

Alex H. Poole & Jane Zhang. "'A little kinder and gentler': Archival pedagogy, affectivity, and the ethics of care in a time of COVID-19." Association for Library and Information Science Education (ALISE) 2021 Conference Proceedings, pp. 117-127. http://hdl.handle.net/2142/110932</p>

<p style="color:#008080";>Raymond Pun, Melissa Cardenas-Dow, and Kenya S. Flash (Eds.). Ethnic Studies in Academic and Research Libraries (ACRL, 2021):</p>

<p style="color:#008080";>Aaisha N. Haykal and Mari N. Crabtree (2021), "The Value of Integrating African American Archives into Undergraduate African American Studies Curricula," ch 3</p>

<p style="color:#008080";>Gabrielle M. Dudley (2021), "For When They Arrive: Using Black Women Writers Collections to Enhance Engagement in Archives and Special Collections Libraries" ch 11</p>

<p style="color:#008080";>Azalea Camacho and Amalia Castañeda (2021), "Student-Driven Collecting Efforts and Initiatives: Fostering an Inclusive Collection Development Policy at California State University, Los Angeles, Special Collections and Archives" ch 14</p>

<p style="color:#008080";>Cristina Fontánez Rodríguez, Pedro Juan Hernández, and Johnathan Thayer (2021), "Connecting Graduate Library and Information Studies Students with Ethnic Studies Archives: Toward a Community-Centered Model for Archival Education" ch 20</p>

Jessica Quagliaroli and Pamela Casey. (2021). Teaching with Drawings: Primary Source Instruction with Architecture Archives, The American Archivist 84(2): 374–396. doi:10.17723/0360-9081-84.2.374</p>

Kristen Schuster and Jacqui Grainger. (2021). Digital Cultural Heritage: Collaborating with Students and Discovering Lost Museums. Education for Information 37(1), 97–111. doi:10.3233/EFI-190352</p>

Heather Soyka. (2022). Professional Career Building in the Archival Field: Studying the Archives Leadership Institute (ALI), The American Archivist 85(2): 609–637. doi:10.17723/2327-9702-85.2.609</p>

Mônica Tenaglia and Georgete Medleg Rodrigues. Partnerships Between Truth Commissions and Universities: Possibilities for Developing an Archival Education in Human Rights in Brazil. Education for Information 38(1) (2022): 53-66. doi:10.3233/EFI-211527</p>

Mônica Tenaglia, Georgete Medleg Rodrigues, Iane Maria da Silva Batista, and Gilberto Gomes Cândido. (2021). The training of archivists and access to information about the environment and the Amazon in Brazil, Comma 2021(2): 331–343. https://doi.org/10.3828/coma.2021.30</p>

Ashley Todd-Diaz and Alex H. Poole. (2022). Who Is This Godot? The Academy of Certified Archivists and Graduate Archival Education, The American Archivist 85(2): 678–699. doi:10.17723/2327-9702-85.2.678</p>

Ashley Todd-Diaz and Peyton Cleary, "'Old stuff, old stuff, really old stuff': University Students’ Perceptions of Academic Archives and Their Relevance to Student Experience," In Proceedings of the Society of American Archivists 2022 Research Forum (Virtual: Society of American Archivists). https://www2.archivists.org/am2022/research-forum-2022/agenda</p>

Samantha R. Winn. "Radical Empathy in Peer Education: A Case Study on Deconstructing Whiteness." Journal of Critical Library and Information Studies (JCLIS) 3(2) (2021). https://doi.org/10.24242/jclis.v3i2.129</p>

Justine Wuebold, Ellen Pearlstein, William Shelley, & Glenn Wharton. (2022). Preliminary Research into Education for Sustainability in Cultural Heritage Conservation, Studies in Conservation 67(1: IIC Wellington Congress 2022 supplement): 326-333. doi:10.1080/00393630.2022.2059642</p>

Kyla Monique Yelverton and Martie van Deventer. "Curricula analysis for big data stewardship – Embedding data curation roles in the big data value chain," in iConference 2023 Posters (Virtual and Barcelona: iSchools). http://hdl.handle.net/2142/113743</p>

Ayoung Yoon, Angela P. Murillo, Paula Anders McNally. (Jan 2021). Digital Preservation in LIS Education: A Content Analysis of Course Syllabi. Journal of Education for Library and Information Science (JELIS) 62(1), 61–86. doi:10.3138/jelis.62.1-2018-0053</p>

Oksana L. Zavalina and Mary Burke. (Oct 2021). Assessing Skill Building in Metadata Instruction: Quality Evaluation of Dublin Core Metadata Records Created by Graduate Students. Journal of Education for Library and Information Science (JELIS) 62(4), 423-442. doi:10.3138/jelis.62-4-2020-0083</p>

Jane Zhang and Alex H. Poole. (2022). Exploring the Current State of North American Graduate Archival Education, The American Archivist 85(2): 638–677. doi:10.17723/2327-9702-85.2.538</p>

Jane Zhang and Alex Poole. "National Forum Grant Project: Exploring New Frontiers in 21st Century Archival Education," In Proceedings of the Society of American Archivists 2021 Research Forum (Virtual: Society of American Archivists). https://www2.archivists.org/am2021/research-forum-2021/agenda</p>

<p><b>2011-2020</b>:</p>

<p><b>2001-2010</b>:</p>
Anderson, Karen. (2007), "Education and training for records professionals", Records Management Journal, Vol. 17 No. 2, pp. 94-106. https://doi.org/10.1108/09565690710757896</p>

<p style="color:#008080";>2005 special reviews of Macroappraisal in Archival Science 5(2-4) guest edited by Catherine Bailey:</p>

<p style="color:#008080";>Eastwood, Terry (2005). Teaching and Learning about Macroappraisal. https://doi.org/10.1007/s10502-005-9007-x</p>

<p style="color:#008080";>Bastian, Jeannette Allis (2005). Teaching Appraisal in an American (U.S.) Archives Program. https://doi.org/10.1007/s10502-005-9008-9</p>

<p style="color:#008080";>Anderson, Karen. (2005). Teaching about Electronic Records in an Online Learning Environment. https://doi.org/10.1007/s10502-005-9009-8</p>

<p style="color:#008080";>Craig, Barbara L. (2005). Setting the Students’ Bearings and Balance in Appraisal. https://doi.org/10.1007/s10502-005-9018-7</p>

Bastian, J., R. Harvey, M. Mahard, T. Plum, “Building a Virtual Archives and Preservation Curriculum Laboratory at Simmons College: A Case Study in Collaborative Construction,” Journal of Education in Library and Information Science (JELIS) 51.4 (Fall 2010): 241-50. https://www.jstor.org/stable/25764641</p>

Jeannette A. Bastian and Donna Webber. <i>Archival Internships: A Guide for Faculty, Supervisors, and Students</i> (Chicago: Society of American Archivists, 2008).</p>

<p style="color:#008080";>2006 Special Issue on Graduate Archival Education of Archival Science 6(2) guest edited by Jeannette Allis Bastian:</p>

<p style="color:#008080";>Bastian, Jeannette A. and Elizabeth Yakel (2006), "Towards the Development of an Archival Core Curriculum: The United States and Canada." https://doi.org/10.1007/s10502-006-9024-4</p>

<p style="color:#008080";>Eastwood, Terry (2006), "Building archival knowledge and skills in the digital age." https://doi.org/article/10.1007/s10502-006-9026-2</p>

<p style="color:#008080";>Uhde, Karsten (2006), "New Education in Old Europe." https://doi.org/10.1007/s10502-006-9028-0</p>

<p style="color:#008080";>Nengomasha, Cathrine T. (2006), "Training for the archival profession in Namibia." https://doi.org/10.1007/s10502-006-9029-z</p>

<p style="color:#008080";>Upward, Frank & Sue McKemmish. (2006), "Teaching recordkeeping and archiving continuum style." https://doi.org/10.1007/s10502-006-9030-6</p>

<p style="color:#008080";>Tibbo, Helen R. (2006), "So much to learn, so little time to learn it: North American archival education programs in the information age and the role for certificate programs." https://doi.org/10.1007/s10502-006-9031-5</p>

<p style="color:#008080";>Cox, Richard J. (2006), "Are there really new directions and innovations in archival education?" https://doi.org/10.1007/s10502-006-9032-4</p>

Bastian, Jeannette and Elizabeth Yakel, "'Are We There Yet?' Professionalism and Development of an Archival Core Curriculum in the United States." Journal of Education for Library and Information Science (JELIS) 46(2) (Spring 2005), 95-114. doi:10.2307/40323864</p>

Bastian, Jeannette A. "Measuring the Success of Internships in an Archives Education Program," Journal of Education for Library and Information Science (JELIS) 43(2) (Spring 2002): 164-174. doi:10.2307/40323977</p>

Buchanan, Sarah. (2010). "Accessioning the Digital Humanities: Report from the 1st Archival Education and Research Institute." Digital Humanities Quarterly 4(1). http://www.digitalhumanities.org/dhq/vol/4/1/000084/000084.html</p>

Cox, Richard J. (2009). Unpleasant Things: Teaching Advocacy in Archival Education Programs. InterActions: UCLA Journal of Education and Information Studies, 5(1). https://escholarship.org/uc/item/0408w1dv</p>

Cox, Richard J., Elizabeth Yakel, Jeannette Bastian, David Wallace and Jennifer Marshall, "Educating Archivists in Library and Information Science Schools," Journal of Education in Library and Information Science (JELIS) 42(3) (Summer 2001): 228-240. doi:10.2307/40324014</p>

Cox, Richard J., Elizabeth Yakel, Jeannette Bastian, David Wallace and Jennifer Marshall, "Archival Education in North American Library and Information Science Schools: A Status Report," The Library Quarterly 71(2) (April 2001): 141-194. https://doi.org/10.1086/603260</p>

Anne Gilliland, Sue McKemmish, Kelvin White, Yang Lu, and Andrew Lau (2008) Pluralizing the Archival Paradigm: Can Archival Education in Pacific Rim Communities Address the Challenge?. The American Archivist 71, No. 1, pp. 87-117. https://doi.org/10.17723/aarc.71.1.781w61g4r2kh3708</p>

Hardesty, W.W. (2007). 'A Proper Function of Library Schools': T. R. Schellenberg's Archives Institute at the University of Texas, 1960. Libraries & the Cultural Record 42(2), 129-150.</p> 

Jimerson, Randall C. (2010). "From the Pacific Northwest to the Global Information Society: The Changing Nature of Archival Education," Journal of Western Archives Vol. 1 Iss. 1, Article 2. https://doi.org/10.26077/3d71-36e9</p>

Jimerson, Randall C. (2001), "Graduate archival education at Western Washington University", OCLC Systems & Services: International digital library perspectives, Vol. 17 No. 4, pp. 157-166. https://doi.org/10.1108/10650750110409353</p>

Krebs, Alison B. "Moving From Theory to Praxis: Designing Participatory Archival Indigenous Information Ethics Education," In Proceedings of the Society of American Archivists 2009 Research Forum (Austin, TX: Society of American Archivists). https://www2.archivists.org/publications/research-forum/2009</p>

Lawrimore, E. (2009). Margaret Cross Norton: Defining and Redefining Archives and the Archival Profession. Libraries & the Cultural Record 44(2), 183-200. doi:10.1353/lac.0.0070.</p>

Christopher A. Lee, Helen R. Tibbo, & John C. Schaefer, "DigCCurr: Building an International Digital Curation Curriculum & the Carolina Digital Curation Fellowship Program," in Archiving 2007 Proceedings, pp. 105-109(5) https://www.ingentaconnect.com/contentone/ist/ac/2007/00002007/00000001/art00025</p>

Long, C. "Designing, Implementing and Evaluating a Service-Based Learning Curriculum for a Masters of Archival Studies Program," In Proceedings of the Society of American Archivists 2010 Research Forum (Washington, D.C.: Society of American Archivists). https://www2.archivists.org/publications/research-forum/2010</p>

Ngulube, P. (2001), "Guidelines and standards for records management education and training: a model for Anglophone Africa", Records Management Journal, Vol. 11 No. 3, pp. 155-173. https://doi.org/10.1108/EUM0000000007273</p>

Procter, M. (2002), "One size does not fit all: developing records management in higher education", Records Management Journal, Vol. 12 No. 2, pp. 48-54. https://doi.org/10.1108/09565690210442917</p>

Rankin, Frank. (2003), "The Scottish Postgraduate Archives Training Project – issues for the records management community", Records Management Journal, Vol. 13 No. 1, pp. 32-37. https://doi.org/10.1108/09565690310465</p>

Roff, Sandra. (2007). "Archives, Documents, and Hidden History: A Course to Teach Undergraduates the Thrill of Historical Discovery Real and Virtual." The History Teacher 40(4): 551-558. doi:10.2307/30037050</p>

Shepherd, E. (2006), "Developing a new academic discipline", Aslib Proceedings, Vol. 58 No. 1/2, pp. 10-19. https://doi.org/10.1108/00012530610648644</p>

Helen R. Tibbo & Christopher A. Lee, "Convergence through Capabilities: Digital Curation Education for Libraries, Archives and Museums," in Archiving 2010 Proceedings, pp. 53-57(5) https://www.ingentaconnect.com/contentone/ist/ac/2010/00002010/00000001/art00011</p>

Tibbo, H., H. Bowden, & C. Lee. "The DigCCurr II Professional Institute: The Process of Developing a New Approach for Contextually-Relevant Continuing Education," In Proceedings of the Society of American Archivists 2009 Research Forum (Austin, TX: Society of American Archivists). https://www2.archivists.org/publications/research-forum/2009/posters</p>

Helen R. Tibbo, Carolyn Hank, & Christopher A. Lee, "Challenges, Curricula, and Competencies: Researcher and Practitioner Perspectives for Informing the Development of a Digital Curation Curriculum," in Archiving 2008 Proceedings, pp. 234-238(5) https://www.ingentaconnect.com/contentone/ist/ac/2008/00002008/00000001/art00048</p>

Tibbo, Helen R., E. Yakel, & W. Duff. "AX-SNet Research Agenda," In Proceedings of the Society of American Archivists 2008 Research Forum (San Francisco: Society of American Archivists). https://www2.archivists.org/publications/research-forum/2008/posters</p>

Tsutsui, Y. "The First Year of the First Archival Science Course in Japan," In Proceedings of the Society of American Archivists 2009 Research Forum (Austin, TX: Society of American Archivists). https://www2.archivists.org/publications/research-forum/2009/posters</p>

Walch, V. and Yakel, E. (2006), "The Archival Census and Education Needs Survey in the United States (A*CENSUS)", OCLC Systems & Services: International digital library perspectives, Vol. 22 No. 1, pp. 15-22. https://doi.org/10.1108/10650750610640757</p>

Yakel, Elizabeth and Jeannette Allis Bastian. (Fall/Winter 2006). "Part 4. A*CENSUS: Report on Graduate Archival Education." The American Archivist 69(2): 349-366. https://doi.org/10.17723/aarc.69.2.d474374017506522</p>

<p><b>1991-2000</b>:</p>
F. Ham, Frank Boles, Gregory Hunter, and James O'Toole (1993) Is the Past Still Prologue?: History and Archival Education. The American Archivist 56, No. 4, pp. 718-729. https://doi.org/10.17723/aarc.56.4.7151h15363320751</p>

King, Lesley A. (1996), "Continuing Vocational Education (CVE): the training needs of records management practitioners. Report of a research project", Records Management Journal, Vol. 6 No. 2, pp. 93-109. https://doi.org/10.1108/eb027090</p>

Pember, M. (1998), "The rise of the ‘new age’ records management professional: records management education and training in Australia", Records Management Journal, Vol. 8 No. 3, pp. 63-75. https://doi.org/10.1108/EUM0000000007238</p>

Paule René-Bazin (1992) The Future of European Archival Education. The American Archivist 55, No. 1, pp. 58-65. https://doi.org/10.17723/aarc.55.1.m30615u320255428</p>

Shepherd, Elizabeth (1998), "Partnerships in professional education: a study in archives and records management", Records Management Journal, Vol. 8 No. 3, pp. 19-37. https://doi.org/10.1108/EUM0000000007235</p>

Shepherd, E. (1997), "Continuing vocational education and archives and records management: a project progress report from University College London", Records Management Journal, Vol. 7 No. 2, pp. 131-146. https://doi.org/10.1108/eb027109</p>

Tyler Walters (1991) Possible Educations for Archivists: Integrating Graduate Archival Education with Public History Education Programs. The American Archivist 54, No. 4, pp. 484-492. https://doi.org/10.17723/aarc.54.4.rj20243h40463587</p>

Westwood, Sarah. (1998), "Records management education and training at Liverpool: a year of change at LUCAS", Records Management Journal, Vol. 8 No. 3, pp. 39-53. https://doi.org/10.1108/EUM0000000007236</p>

<p style="color:#008080";>2000 Special Issue on Archival Education 63(2) of The American Archivist edited by Elizabeth Yakel:</p>

<p style="color:#008080";>Luciana Duranti (2000) "The Society of American Archivists and Graduate Archival Education: A Sneak Preview of Future Directions" https://doi.org/10.17723/aarc.63.2.l417x9l3840qn07l</p>

<p style="color:#008080";>Peter Wosh (2000) "Research and Reality Checks: Change and Continuity in NYU's Archival Management Program" https://doi.org/10.17723/aarc.63.2.n00l0588g6157373</p>

<p style="color:#008080";>David Wallace (2000) "Survey of Archives and Records Management Graduate Students at Ten Universities in the United States and Canada" https://doi.org/10.17723/aarc.63.2.72050g01j3v858j1</p>

<p style="color:#008080";>Elizabeth Yakel (2000) "The Future of the Past: A Survey of Graduates of Master's-Level Archival Education Programs in the United States" https://doi.org/10.17723/aarc.63.2.p8843508857g69v5</p>

<p style="color:#008080";>Richard Cox (2000) "The Society of American Archivists and Graduate Education: Meeting at the Crossroads" https://doi.org/10.17723/aarc.63.2.r64t27100718121r</p>

<p style="color:#008080";>Terry Cook (2000) "'The Imperative of Challenging Absolutes' in Graduate Archival Education Programs: Issues for Educators and the Profession" https://doi.org/10.17723/aarc.63.2.27438310j3390088</p>

Yusof, Z. and Chell, R. (1998), "Records Management Education and Training World‐Wide: A General Overview of the Current Situation", Records Management Journal, Vol. 8 No. 1, pp. 25-54. https://doi.org/10.1108/EUM0000000007229</p>

<p><b>1981-1990</b>:</p>
Paul Conway (1988) Archival Education and the Need for Full-Time Faculty. The American Archivist 51, No. 3, pp. 254-265. https://doi.org/10.17723/aarc.51.3.h83w32487q870239</p>

Richard J. Cox, "Educating Archivists: Speculations on the Past, Present, and Future," Journal of the American Society for Information Science (JASIS) 39, no. 5 (1988): 340-343. https://doi.org/10.1002/(SICI)1097-4571(198809)39:5%3C340::AID-ASI11%3E3.0.CO;2-0 and http://d-scholarship.pitt.edu/2727/</p>

Terry Eastwood (1988) Nurturing Archival Education in the University. The American Archivist 51, No. 3, pp. 228-252. https://doi.org/10.17723/aarc.51.3.qgk71605x660gm85</p>

Timothy Ericson (1988) Professional Associations and Archival Education: A Different Role, or a Different Theater?. The American Archivist 51, No. 3, pp. 298-311. https://doi.org/10.17723/aarc.51.3.q26157412364n745</p>

William Joyce (1988) Archival Education: Two Fables. The American Archivist 51, No. 1-2, pp. 16-22. https://doi.org/10.17723/aarc.51.1-2.p4j85330k171023g</p>

James O'Toole (1990) Curriculum Development in Archival Education: A Proposal. The American Archivist 53, No. 3, pp. 460-466. https://doi.org/10.17723/aarc.53.3.14t7514u31735536</p>

<p><b>1971-1980</b>:</p>

in progress</p>
