---
layout: archive
title: "Resources"
permalink: /resources/
author_profile: true
---

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

<p><b>ArchiPrEd (2017–) Resources for Archival Education</b>:</p>

<p><b>Syllabi, Undergraduate</b>:</p>
Undergraduate Archival Education, <a href="https://undergradarchivaled.wordpress.com/syllabi/">AERI 2012 Workshop</a>, multiply-sourced from WWU, UM, UT, MTU, NMU, SU, GWU, SJSU, WSU, NYU.</p>

English 86800 / DHUM 72700 / WSCP 81000: Archival Encounters, <a href="https://archivalencounters.commons.gc.cuny.edu/syllabus/">Spring 2019</a>, The Graduate Center, CUNY

ENGL 4710 Capstone: Opening the Archive, <a href="http://www.northeastern.edu/openingthearchive/syllabus/">Fall 2017</a>, Northeastern University

SI 580 / History 600 Understanding Records & Archives: Principles and Practices, Fall 2013</a>, University of Michigan<a href="https://www.si.umich.edu/sites/default/files/SI580_Syllabus_F13_0.pdf">

<p><b>Syllabi, Graduate</b>:</p>
LIS 2220 Introduction to Archives and Records Management, Fall 2004</a>, University of Pittsburgh<a href="http://www.sis.pitt.edu/dlis/academics/specializations/LIS2220.pdf">

LIS 2970: Archives and Performance, Summer 2012</a>, University of Pittsburgh<a href="http://www.ischool.pitt.edu/pittischool13coa/appendices/syllabi/LIS%202970%20Summer%202012%20Archives%20and%20Performance%20Syllabus.pdf">

INLS 556 Introduction to Archives and Records Management, Spring 2013</a>, UNC Chapel Hill<a href="https://ils.unc.edu/courses/2013_spring/inls556_001/INLS%20556-Spring%202013-Syllabus-1-10-2013.pdf">

LIS 438 Introduction to Archival Methods and Services, Fall 2017</a>, Fall 2008</a> <a href="http://web.simmons.edu/~scosaa/academic/documents/pdf/LIS438_syllabus_2008_fall_bastian.pdf">, Simmons College<a href="https://www.academia.edu/34949529/Syllabus_LIS_438_Introduction_to_Archival_Methods_and_Services">

S281 Introduction to Archives, Fall 2016</a>, Indiana University<a href="https://soic.iupui.edu/syllabi/LIS-S281-Vopelak.pdf">

LIS 441-20 Appraisal of Archives and Manuscripts, Summer 2009</a>, Simmons College<a href="http://web.simmons.edu/~bastian/Site/Syllabi/LIS441.htm">

LI 809XI Introduction to Archives, Summer 2017</a>, Emporia State University<a href="https://www.emporia.edu/slim/documents/syllabi/201730/809XI.pdf">

INSC 564: Archives and Records Management, Fall 2018</a>, University of Tennessee<a href="https://www.cci.utk.edu/sites/default/files/syllabus/INSC564syl.pdf">

LIS 643 Archives and Manuscripts Management, Fall 2015</a>, University of Kentucky<a href="https://ci.uky.edu/sis/sites/default/files/syllabi/LIS643syllabus2015_Williams.pdf">

LSCI 60652 Foundations and Administration of Archives, Fall 2008</a>, Kent State University<a href="https://cpb-us-w2.wpmucdn.com/u.osu.edu/dist/3/30546/files/2016/05/syllabus-2008-szj87g.pdf">

NMDS 4487 | CRN 5278 Data, Archive, Infrastructure, Fall 2017</a>, The New School<a href="http://www.wordsinspace.net/data_archive/fall2017/wp-content/uploads/2017/08/Mattern_DataArchive_Fall2017_Aug26.pdf">

HIST GA 1010 Introduction to Archives I, Fall 2017</a>, NYU<a href="https://s18798.pcdn.co/archivesandpublichistory/wp-content/uploads/sites/5465/2009/08/Syllabus_Intro_to-Archives_HISTGA1010_Fall2017.pdf">

HIST-GA.2016 Institutional Archives and Electronic Records Management, Spring 2015</a>, NYU<a href="https://wp.nyu.edu/aphprogram/wp-content/uploads/sites/2733/2009/08/Institutional-Archives-Syllabus-for-Spring-2015_Draft.pdf">

HIST 525 History & Principles of Archives & Records Management, Fall 2012</a>, Western Washington University<a href="http://faculty.wwu.edu/jimerson/documents/525SYLLABUS2012_000.pdf">

HIST 526 Selection and Appraisal, Winter 2013</a>, Western Washington University<a href="http://faculty.wwu.edu/jimerson/documents/526syllabus2013_000.pdf">

HIST 538 Advanced Seminar in Archives and Records Management, Fall 2012</a>, Western Washington University<a href="http://faculty.wwu.edu/jimerson/documents/538SYLLABUS2012_000.pdf">

INFO 6860: Archives II, Winter 2019</a>, Dalhousie University<a href="https://cdn.dal.ca/content/dam/dalhousie/pdf/schoolofinformationmanagement/Syllabi/INFO%206860_W19_2019_01_03.pdf">

CLSC 630/646 Archives Management, Spring 2010</a>, Catholic University of America<a href="http://lis.cua.edu/res/docs/syllabi/2010spring/LSC-630-646-Spring-10-syllabus-1.pdf">

LIS 652 Introduction to Archives Management, Spring 2012</a>, University of Hawai'i<a href="http://www2.hawaii.edu/~maliavh/assets/652_skeem_s12.pdf">

LIS 654 Archival Ethics & Profession, Fall 2018</a>, University of Hawai'i<a href="https://www.hawaii.edu/lis/content/syllabi/654_wertheimer_fa18.pdf">

LBSC 605 Archival Principles, Practices, and Programs; Fall 2013</a>, University of Maryland<a href="https://ischool.umd.edu/sites/default/files/syllabi/LBSC%20605%20Fall%202013%20Syllabus.pdf">

LBSC 785: Documentation, Collection, and Appraisal of Records; Spring 2019</a>, University of Maryland<a href="https://ischool.umd.edu/sites/default/files/syllabi/inst785_0101_spring_2019_punzalan.pdf">

LIS 635-01 Archives Appraisal, Acquisition and Use; Spring 2017</a>, Pratt Institute<a href="http://www.thinkingprojects.org/wp-content/uploads/2017/01/lis635-01_spring2017_archives_appraisal.pdf">

INF 389J Appraisal and Selection of Records, Spring 2014</a>, University of Texas<a href="https://www.ischool.utexas.edu/~galloway/spring2015/INF389J/schedule.html">

ARST 5500: Appraisal and Selection of Archival Materials, Spring 2014</a>, Clayton State University MAS<a href="http://www.clayton.edu/Portals/632/docs/arst5500_SampleSyllabus.pdf">

ARST 6610: Law, Ethics and Archives; Spring 2014</a>, Clayton State University<a href="http://www.clayton.edu/Portals/632/docs/arst6610_SampleSyllabus.pdf">

MLIS 7710: Archival Theory and Issues, Fall
2014</a>, VSU Archives<a href="https://www.valdosta.edu/colleges/education/master-of-library-and-information-science/documents/mlis7710_syllabus_fa14.pdf">

SOIS 650 Introduction to Modern Archives Administration, Fall 2011</a>, University of Wisconsin-Milwaukee<a href="https://www4.uwm.edu/schedule/syllabi/110044261.pdf">

INFOST 750-201 Arrangement & Description in Archives, Fall 2018</a>, University of Wisconsin-Milwaukee<a href="https://www4.uwm.edu/schedule/syllabi/218926063.pdf">

ARST 550: Management of Audiovisual and Non-textual Archives, Winter 2019</a>, University of British Columbia<a href="http://slais2018.sites.olt.ubc.ca/files/2018/08/ARST-550-2018-W1.pdf">

IS 289 Home Movies – Preservation, Identification, and Repatriation; Spring 2019</a>, UCLA<a href="https://snowdenbecker.com/courses-and-syllabi/">

IS 480: Intro to Media Archives & Preservation, Winter 2018</a>, UCLA<a href="https://snowdenbecker.com/courses-and-syllabi/">

IS 432 Preservation of Heritage Materials, Spring 2017</a>, UCLA<a href="https://snowdenbecker.com/courses-and-syllabi/">

IS289 Management of Media Collections, Spring 2017</a>, UCLA<a href="https://snowdenbecker.com/courses-and-syllabi/">

IS 289: Archives in the Age of Ubiquitous Surveillance Technologies, Fall 2016</a>, UCLA<a href="https://snowdenbecker.com/courses-and-syllabi/">

Archival Perspectives in Digital Preservation: An Advanced Seminar</a>, Society of American Archivists<a href="http://www.archivists.org/prof-education/conway/syllabus.pdf">

also: "We collected a total of 183 syllabi covering a wide range of courses during the year 2001–2002." (p.142), Bastian, J.A. & Yakel, E. "Towards the development of an archival core curriculum: The United States and Canada." (2006). Archival Science 6(2): 133-150. https://doi.org/10.1007/s10502-006-9024-4
