---
layout: archive
title: "Resources"
permalink: /resources/
author_profile: true
---

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

<p><b>ArchiPrEd (2017–) Resources for Archival Education</b>:</p>

<p><b>Syllabi, Undergraduate</b>:</p>
Undergraduate Archival Education, AERI 2012 Workshop, multiply-sourced from WWU, UM, UT, MTU, NMU, SU, GWU, SJSU, WSU, NYU (<a href="https://undergradarchivaled.wordpress.com/syllabi/">link</a>).</p>

English 86800 / DHUM 72700 / WSCP 81000: Archival Encounters, Spring 2019, The Graduate Center, CUNY (<a href="https://archivalencounters.commons.gc.cuny.edu/syllabus/">link</a>).</p>

ENGL 4710 Capstone: Opening the Archive, Fall 2017, Northeastern University (<a href="http://www.northeastern.edu/openingthearchive/syllabus/">link</a>).</p>

SI 580 / History 600 Understanding Records & Archives: Principles and Practices, Fall 2013, University of Michigan (link) (<a href="https://www.si.umich.edu/sites/default/files/SI580_Syllabus_F13_0.pdf">link</a>).</p>

<p><b>Syllabi, Graduate</b>:</p>
LIS 2220 Introduction to Archives and Records Management, Fall 2004, University of Pittsburgh (<a href="http://www.sis.pitt.edu/dlis/academics/specializations/LIS2220.pdf">link</a>).</p>

LIS 2970: Archives and Performance, Summer 2012, University of Pittsburgh (<a href="http://www.ischool.pitt.edu/pittischool13coa/appendices/syllabi/LIS%202970%20Summer%202012%20Archives%20and%20Performance%20Syllabus.pdf">link</a>).</p>

INLS 556 Introduction to Archives and Records Management, Spring 2013, UNC Chapel Hill (<a href="https://ils.unc.edu/courses/2013_spring/inls556_001/INLS%20556-Spring%202013-Syllabus-1-10-2013.pdf">link</a>).</p>

LIS 438 Introduction to Archival Methods and Services, Fall 2017 (<a href="http://web.simmons.edu/~scosaa/academic/documents/pdf/LIS438_syllabus_2008_fall_bastian.pdf">link</a>), Fall 2008 (<a href="https://www.academia.edu/34949529/Syllabus_LIS_438_Introduction_to_Archival_Methods_and_Services">link</a>), Simmons College.</p>

S281 Introduction to Archives, Fall 2016, Indiana University (<a href="https://soic.iupui.edu/syllabi/LIS-S281-Vopelak.pdf">link</a>).</p>

LIS 441-20 Appraisal of Archives and Manuscripts, Summer 2009, Simmons College (<a href="http://web.simmons.edu/~bastian/Site/Syllabi/LIS441.htm">link</a>).</p>

LI 809XI Introduction to Archives, Summer 2017, Emporia State University (<a href="https://www.emporia.edu/slim/documents/syllabi/201730/809XI.pdf">link</a>).</p>

INSC 564: Archives and Records Management, Fall 2018, University of Tennessee (<a href="https://www.cci.utk.edu/sites/default/files/syllabus/INSC564syl.pdf">link</a>).</p>

LIS 643 Archives and Manuscripts Management, Fall 2015, University of Kentucky (<a href="https://ci.uky.edu/sis/sites/default/files/syllabi/LIS643syllabus2015_Williams.pdf">link</a>).</p>

LSCI 60652 Foundations and Administration of Archives, Fall 2008, Kent State University (<a href="https://cpb-us-w2.wpmucdn.com/u.osu.edu/dist/3/30546/files/2016/05/syllabus-2008-szj87g.pdf">link</a>).</p>

NMDS 4487 | CRN 5278 Data, Archive, Infrastructure, Fall 2017, The New School (<a href="http://www.wordsinspace.net/data_archive/fall2017/wp-content/uploads/2017/08/Mattern_DataArchive_Fall2017_Aug26.pdf">link</a>).</p>

HIST GA 1010 Introduction to Archives I, Fall 2017, NYU (<a href="https://s18798.pcdn.co/archivesandpublichistory/wp-content/uploads/sites/5465/2009/08/Syllabus_Intro_to-Archives_HISTGA1010_Fall2017.pdf">link</a>).</p>

HIST-GA.2016 Institutional Archives and Electronic Records Management, Spring 2015, NYU (<a href="https://wp.nyu.edu/aphprogram/wp-content/uploads/sites/2733/2009/08/Institutional-Archives-Syllabus-for-Spring-2015_Draft.pdf">link</a>).</p>

HIST 525 History & Principles of Archives & Records Management, Fall 2012, Western Washington University (<a href="http://faculty.wwu.edu/jimerson/documents/525SYLLABUS2012_000.pdf">link</a>).</p>

HIST 526 Selection and Appraisal, Winter 2013, Western Washington University (<a href="http://faculty.wwu.edu/jimerson/documents/526syllabus2013_000.pdf">link</a>).</p>

HIST 538 Advanced Seminar in Archives and Records Management, Fall 2012, Western Washington University (<a href="http://faculty.wwu.edu/jimerson/documents/538SYLLABUS2012_000.pdf">link</a>).</p>

INFO 6860: Archives II, Winter 2019, Dalhousie University (<a href="https://cdn.dal.ca/content/dam/dalhousie/pdf/schoolofinformationmanagement/Syllabi/INFO%206860_W19_2019_01_03.pdf">link</a>).</p>

CLSC 630/646 Archives Management, Spring 2010, Catholic University of America (<a href="http://lis.cua.edu/res/docs/syllabi/2010spring/LSC-630-646-Spring-10-syllabus-1.pdf">link</a>).</p>

LIS 652 Introduction to Archives Management, Spring 2012, University of Hawai'i (<a href="http://www2.hawaii.edu/~maliavh/assets/652_skeem_s12.pdf">link</a>).</p>

LIS 654 Archival Ethics & Profession, Fall 2018, University of Hawai'i (<a href="https://www.hawaii.edu/lis/content/syllabi/654_wertheimer_fa18.pdf">link</a>).</p>

LBSC 605 Archival Principles, Practices, and Programs; Fall 2013, University of Maryland (<a href="https://ischool.umd.edu/sites/default/files/syllabi/LBSC%20605%20Fall%202013%20Syllabus.pdf">link</a>).</p>

LBSC 785: Documentation, Collection, and Appraisal of Records; Spring 2019, University of Maryland (<a href="https://ischool.umd.edu/sites/default/files/syllabi/inst785_0101_spring_2019_punzalan.pdf">link</a>).</p>

LIS 635-01 Archives Appraisal, Acquisition and Use; Spring 2017, Pratt Institute (<a href="http://www.thinkingprojects.org/wp-content/uploads/2017/01/lis635-01_spring2017_archives_appraisal.pdf">link</a>).</p>

INF 389J Appraisal and Selection of Records, Spring 2014, University of Texas (<a href="https://www.ischool.utexas.edu/~galloway/spring2015/INF389J/schedule.html">link</a>).</p>

ARST 5500: Appraisal and Selection of Archival Materials, Spring 2014, Clayton State University MAS (<a href="http://www.clayton.edu/Portals/632/docs/arst5500_SampleSyllabus.pdf">link</a>).</p>

ARST 6610: Law, Ethics and Archives; Spring 2014, Clayton State University (<a href="http://www.clayton.edu/Portals/632/docs/arst6610_SampleSyllabus.pdf">link</a>).</p>

MLIS 7710: Archival Theory and Issues, Fall 2014, VSU Archives (<a href="https://www.valdosta.edu/colleges/education/master-of-library-and-information-science/documents/mlis7710_syllabus_fa14.pdf">link</a>).</p>

SOIS 650 Introduction to Modern Archives Administration, Fall 2011, University of Wisconsin-Milwaukee (<a href="https://www4.uwm.edu/schedule/syllabi/110044261.pdf">link</a>).</p>

INFOST 750-201 Arrangement & Description in Archives, Fall 2018, University of Wisconsin-Milwaukee (<a href="https://www4.uwm.edu/schedule/syllabi/218926063.pdf">link</a>).</p>

ARST 550: Management of Audiovisual and Non-textual Archives, Winter 2019, University of British Columbia (<a href="http://slais2018.sites.olt.ubc.ca/files/2018/08/ARST-550-2018-W1.pdf">link</a>).</p>

IS 289 Home Movies – Preservation, Identification, and Repatriation; Spring 2019, UCLA (<a href="https://snowdenbecker.com/courses-and-syllabi/">link</a>).</p>

IS 480: Intro to Media Archives & Preservation, Winter 2018, UCLA (<a href="https://snowdenbecker.com/courses-and-syllabi/">link</a>).</p>

IS 432 Preservation of Heritage Materials, Spring 2017, UCLA (<a href="https://snowdenbecker.com/courses-and-syllabi/">link</a>).</p>

IS289 Management of Media Collections, Spring 2017, UCLA (<a href="https://snowdenbecker.com/courses-and-syllabi/">link</a>).</p>

IS 289: Archives in the Age of Ubiquitous Surveillance Technologies, Fall 2016, UCLA (<a href="https://snowdenbecker.com/courses-and-syllabi/">link</a>).</p>

Archival Perspectives in Digital Preservation: An Advanced Seminar, Society of American Archivists (<a href="http://www.archivists.org/prof-education/conway/syllabus.pdf">link</a>).</p>

also: "We collected a total of 183 syllabi covering a wide range of courses during the year 2001–2002." (p.142), Bastian, J.A. & Yakel, E. "Towards the development of an archival core curriculum: The United States and Canada." (2006). Archival Science 6(2): 133-150. https://doi.org/10.1007/s10502-006-9024-4
